#skyxplore-game-population-comparator-selector{
    display: block;
    width: 90%;
    margin: 5px auto;
}

#skyxplore-game-population-stat-selector{
    display: block;
    width: 80%;
    margin: 5px auto;
}

#skyxplore-game-population-skill-selector{
    display: block;
    width: 80%;
    margin: 5px auto;
}