<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<DIV id="create-category" class="main-page" th:fragment="create-category">
    <HEADER>
        <H1 id="create-category-title"></H1>
        <BUTTON id="create-category-close-button" class="dialog-close-button" onclick="pageController.openMainPage()">X</BUTTON>
    </HEADER>

    <MAIN>
        <DIV class="create-item-input-wrapper">
            <INPUT type="text" id="new-category-title" class="new-item-title">
        </DIV>

        <DIV id="create-category-parent-selection-wrapper" class="parent-selection-wrapper">
            <DIV id="create-category-current-category-title"></DIV>
            <DIV id="create-category-parent-selection-parent-button" class="button create-item-category"></DIV>
            <DIV id="create-category-parent-selection-category-list"></DIV>
        </DIV>
    </MAIN>
</DIV>

</BODY>
</HTML>