<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<DIV id="create-table" class="main-page" th:fragment="create-table">
    <HEADER>
        <H1 id="create-table-title"></H1>
        <BUTTON id="create-table-close-button" class="dialog-close-button" onclick="pageController.openMainPage()">X</BUTTON>
    </HEADER>

    <MAIN>
        <DIV class="create-item-input-wrapper">
            <INPUT type="text" id="new-table-title" class="new-item-title">
        </DIV>

        <DIV id="create-table-parent-selection-wrapper">
            <DIV id="create-table-selected-category-wrapper">
                <SPAN id="create-table-selected-category"></SPAN>: <SPAN id="create-table-selected-category-title"></SPAN>
            </DIV>
            <DIV id="create-table-parent-selection-list-wrapper">
                <DIV id="create-table-parent-selection-parent-button" class="button create-item-category"></DIV>
                <DIV id="create-table-parent-selection-category-list"></DIV>
            </DIV>
        </DIV>

        <DIV id="new-table-content-wrapper">
            <TABLE id="new-table-content-table" class="formatted-table">
                <thead>
                <tr id="new-table-head-row">
                    <th></th>
                </tr>
                </thead>
                <tbody id="new-table-content"></tbody>
            </TABLE>
        </DIV>
    </MAIN>
</DIV>

</BODY>
</HTML>