<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<DIV id="view-table" class="main-page" th:fragment="view-table">
    <HEADER>
        <H1><SPAN id="view-table-title"></SPAN></H1>
        <BUTTON id="view-table-close-button" class="dialog-close-button" onclick="pageController.openMainPage()">X</BUTTON>
    </HEADER>

    <MAIN id="view-table-content-wrapper">
        <TABLE id="view-table-content-table" class="formatted-table">
            <thead>
            <tr id="view-table-head-row">
                <th></th>
            </tr>
            </thead>
            <tbody id="view-table-content"></tbody>
        </TABLE>
    </MAIN>
</DIV>

</BODY>
</HTML>