<html>
<head>
    <title>Database Backup - CI - Apphub</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>
    <span>Restoring</span>
    <span th:text="${dbhost}"></span>
    <span th:text="${dbname}"></span>
    <span> from bucket </span>
    <span th:text="${s3bucket}"></span>
</h1>

<h1 class="error" th:if="${error != null}" th:text="${error}"></h1>
<h1 class="success" th:if="${success != null}" th:text="${success}"></h1>

<div class="menu">
    <div>
        <a href="/db-backup">Back</a>
    </div>

    <div>
        <fieldset>
            <legend>Databases</legend>

            <ul class="menu">
                <li th:each="db : ${databases}">
                    <a th:href="@{|/db-backup/restore/${db}|}" th:text="${db}"></a>
                </li>
            </ul>
        </fieldset>
    </div>
</div>
</body>
</html>