<html>
<head>
    <title>Minikube configure - CI - Apphub</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Minikube configure</h1>

<h1 class="error" th:if="${error != null}" th:text="${error}"></h1>
<h1 class="success" th:if="${success != null}" th:text="${success}"></h1>

<form class="menu" action="/minikube/configure" method="POST">
    <a href="/minikube">Back</a>

    <ul>
        <li>
            <label>
                Deploy mode:
                <select name="deploy_mode">
                    <option value="DEFAULT" th:selected="${deploy_mode == 'DEFAULT'}">Default</option>
                    <option value="SKIP_TESTS" th:selected="${deploy_mode == 'SKIP_TESTS'}">Skip unit tests</option>
                    <option value="SKIP_BUILD" th:selected="${deploy_mode == 'SKIP_BUILD'}">Skip build</option>
                </select>
            </label>
        </li>
        <li>
            <label>
                Default build thread count:
                <input type="number" name="default_build_thread_count" th:value="${default_build_thread_count}"/>
            </label>
            <label>
                Skip tests build thread count:
                <input type="number" name="skip_test_build_thread_count" th:value="${skip_test_build_thread_count}"/>
            </label>
        </li>
        <li>
            <label>
                Integration test thread count:
                <input type="number" name="integration_test_thread_count" th:value="${integration_test_thread_count}"/>
            </label>
        </li>
        <li>
            <label>
                Pre-create WebDrivers before starting integration tests:
                <input type="number" name="pre_create_webdriver_count" th:value="${pre_create_webdriver_count}"/>
            </label>
        </li>
        <li>
            <label>
                Integration test retry limit:
                <input type="number" name="integration_test_retry_count" th:value="${integration_test_retry_count}"/>
            </label>
        </li>
        <li>
            <label>
                Service startup limit:
                <input type="number" name="service_startup_limit" th:value="${service_startup_limit}"/>
            </label>
        </li>
        <li>
            <label>
                Bash file location:
                <input type="text" name="bash_file_location" th:value="${bash_file_location}"/>
            </label>
        </li>
    </ul>

    <button type="submit">Save</button>
</form>
</body>
</html>