<html>
<head>
    <title>Settings - CI - Apphub</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Settings</h1>

<h1 class="error" th:if="${error != null}" th:text="${error}"></h1>
<h1 class="success" th:if="${success != null}" th:text="${success}"></h1>

<div class="menu">
    <div>
        <a href="/">Back</a>
    </div>

    <fieldset>
        <legend>General</legend>

        <form action="/settings" method="post">
            <ul>
                <li>
                    <label>
                        Browser startup limit:
                        <input type="number" name="browser_startup_limit" th:value="${browser_startup_limit}" required>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="gui_enabled" value="true" th:checked="${gui_enabled}"/>
                        GUI enabled
                    </label>
                </li>
            </ul>

            <input type="submit" value="Save"/>
        </form>
    </fieldset>

    <fieldset>
        <legend>AWS S3</legend>

        <ul th:each="environment: ${environments}">
            <li><a th:href="@{|/settings/s3/${environment}|}" th:text="${environment}"></a></li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>AWS DynamoDB</legend>

        <ul th:each="environment: ${environments}">
            <li><a th:href="@{|/settings/dynamo-db/${environment}|}" th:text="${environment}"></a></li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>PostgreSQL host</legend>
        <form action="/settings/psql-host" method="POST">
            <label>
                LOCAL:
                <input type="text" name="LOCAL" th:value="${PSQL_LOCAL}"/>
            </label>
            <label>
                MINIKUBE:
                <input type="text" name="MINIKUBE" th:value="${PSQL_MINIKUBE}"/>
            </label>
            <label>
                PREPROD:
                <input type="text" name="PREPROD" th:value="${PSQL_PREPROD}"/>
            </label>
            <label>
                PRODUCTION:
                <input type="text" name="PRODUCTION" th:value="${PSQL_PRODUCTION}"/>
            </label>

            <input type="submit" value="Save"/>
        </form>
    </fieldset>

    <fieldset>
        <legend>FTP host</legend>
        <form action="/settings/ftp-host" method="POST">
            <label>
                LOCAL:
                <input type="text" name="LOCAL" th:value="${FTP_LOCAL}"/>
            </label>
            <label>
                MINIKUBE:
                <input type="text" name="MINIKUBE" th:value="${FTP_MINIKUBE}"/>
            </label>
            <label>
                PREPROD:
                <input type="text" name="PREPROD" th:value="${FTP_PREPROD}"/>
            </label>
            <label>
                PRODUCTION:
                <input type="text" name="PRODUCTION" th:value="${FTP_PRODUCTION}"/>
            </label>

            <input type="submit" value="Save"/>
        </form>
    </fieldset>

    <fieldset>
        <legend>Authorization certificate</legend>

        <a href="/settings/authorization/certificate/test">Recreate TEST certificate</a>
        <fieldset>
            <form action="/settings/authorization/certificate/production" method="GET">
                <label>
                    <input type="checkbox" required>
                    I understand that recreating production certificate logs all users out
                </label>
                <input type="submit" value="Recreate PRODUCTION certificate"/>
            </form>
        </fieldset>
    </fieldset>
</div>
</body>
</html>