.skyxplore-game-planet-surface-tile-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    background-position: center;
    background-size: cover;
}

.skyxplore-game-planet-surface-tile-content.building-battery {
    background-image: url("../../../../../common/img/building/battery.png");
}

.skyxplore-game-planet-surface-tile-content.building-camp {
    background-image: url("../../../../../common/img/building/camp.png");
}

.skyxplore-game-planet-surface-tile-content.building-water_pump {
    background-image: url("../../../../../common/img/building/water_pump.png");
}

.skyxplore-game-planet-surface-tile-content.building-solar_panel {
    background-image: url("../../../../../common/img/building/solar_panel.png");
}

.skyxplore-game-planet-surface-tile-content.building-sawmill {
    background-image: url("../../../../../common/img/building/sawmill.png");
}

.skyxplore-game-planet-surface-tile-content.building-house {
    background-image: url("../../../../../common/img/building/house.png");
}

.skyxplore-game-planet-surface-tile-content.building-hospital {
    background-image: url("../../../../../common/img/building/hospital.png");
}

.skyxplore-game-planet-surface-tile-content.building-excavator {
    background-image: url("../../../../../common/img/building/excavator.png");
}

.skyxplore-game-planet-surface-tile-content.building-depot {
    background-image: url("../../../../../common/img/building/depot.png");
}

.skyxplore-game-planet-surface-tile-content.building-water_tower {
    background-image: url("../../../../../common/img/building/water_tower.png");
}

.skyxplore-game-planet-surface-tile-content.building-headquarters {
    background-image: url("../../../../../common/img/building/headquarters.png");
}

.skyxplore-game-planet-surface-tile-content-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid white;
    background-color: black;
    text-align: center;
    padding: 1px;
}

.skyxplore-game-planet-surface-tile-content-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    text-align: center;
    border-top: 1px solid white;
}

.skyxplore-game-planet-surface-tile-content-footer button{
    border-width: 1px;
    margin: 2px;
    padding: 1px;
    border-radius: 0;
    height: 16px;
    width: 16px;
}

.skyxplore-game-planet-surface-building-upgrade-button{
    background-position: center;
    background-size: cover;
    border-width: 1px;
    background-image: url("../../../../../../../../common/style/img/upgrade.png");
}