.close-dialog-button{
    position: absolute;
    top: 0;
    right: 0.25rem;
    font-size: 1.75rem;
}

#main-page-content{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 0;
}

    #calendar-container{
        border-right: 5px ridge white;
    }

        #calendar-title{
            text-align: center;
            border-bottom: 3px ridge white;
            padding: 0.25rem;
            font-weight: bold;
            font-size: 2rem;
        }

            #calendar-title button{

            }

                #calendar-title button:first-child{
                    float: left;
                }

                #calendar-title button:last-child{
                    float: right;
                }

        #calendar-current-month{
            display: inline;
        }

    #calendar{
        display: grid;
        grid-template-columns: repeat(7, auto);
    }

        .calendar-day{
            text-align: left;
        }

            .different-month-day{
                opacity: 0.5;
            }

            .selected-day{
                border-color: lime;
            }

            .current-day{
                border-color: yellow;
            }

            .calendar-day-title{

            }

    #daily-tasks-container{
        display: grid;
        grid-template-rows: 2.75rem auto 2.25rem;
    }

        #daily-tasks-current-day{
            text-align: center;
            border-bottom: 3px ridge white;
            padding: 0.25rem;
        }

        #daily-tasks{

        }

#create-event-page{

}

    #create-event-page fieldset{
        margin: 1rem;
    }

        #create-event-page fieldset legend{
            font-size: 1.5rem;
            margin-right: 1rem;
        }

    #create-event-title-input{
        width: 90%;
    }

    #create-event-content-input{
        width: 90%;
        height: 50vh;
    }

    #create-event-days-of-week-repetition-type-data label{
        white-space: nowrap;
    }

        #create-event-days-of-week-repetition-type-data label span{
            font-size: 2rem;
        }

        #create-event-days-of-week-repetition-type-data label input{
            transform: scale(1.5);
        }