.notebook-table-row-command-buttons{
    white-space: nowrap;
}

.notebook-table-column-input {
    width: 300px;
}

.notebook-table-row-checked-cell {
    text-align: center;
}

.notebook-table-row-checked {
    transform: scale(2);
}