<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<DIV id="group-details" class="main-page" th:fragment="group-details">
    <HEADER>
        <H1 id="group-details-title"></H1>
        <BUTTON class="close-dialog-button" onclick="pageController.displayMainPage()">X</BUTTON>
    </HEADER>

    <MAIN>
        <DIV id="group-details-invitation-type-wrapper">
            <LABEL>
                <SPAN id="group-details-invitation-type-label"></SPAN>:
                <SELECT id="group-details-invitation-type">
                    <OPTION id="invitation-type-friends" value="FRIENDS"></OPTION>
                    <OPTION id="invitation-type-friends-of-friends" value="FRIENDS_OF_FRIENDS"></OPTION>
                </SELECT>
            </LABEL>
        </DIV>

        <DIV>
            <TABLE id="group-details-members-table" class="formatted-table">
                <THEAD>
                <TR>
                    <TH>
                        <BUTTON id="group-details-add-member-button" onclick="addGroupMemberController.openAddGroupMemberWindow()"></BUTTON>
                    </TH>
                    <TH id="group-details-members-can-invite"></TH>
                    <TH id="group-details-members-can-kick"></TH>
                    <TH id="group-details-members-can-modify-roles"></TH>
                    <TH id="group-details-members-kick"></TH>
                    <TH id="group-details-transfer-ownership"></TH>
                </TR>
                </THEAD>
                <TBODY id="group-details-members"></TBODY>
            </TABLE>
        </DIV>
    </MAIN>

    <FOOTER>
        <BUTTON id="disband-group-button" class="group-details-button" onclick="groupDetailsController.disbandGroup()"></BUTTON>
        <BUTTON id="leave-group-button" class="group-details-button" onclick="groupDetailsController.leaveGroup()"></BUTTON>
    </FOOTER>
</DIV>

</BODY>
</HTML>