<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<DIV id="group-add-lobbyMember" class="main-page" th:fragment="group-add-lobbyMember">
    <HEADER>
        <H1 id="group-add-lobbyMember-title"></H1>
        <BUTTON class="close-dialog-button" onclick="groupDetailsController.openCurrentGroup()">X</BUTTON>
    </HEADER>

    <MAIN class="footerless">
        <DIV id="group-add-lobbyMember-search-wrapper">
            <INPUT type="text" id="group-add-lobbyMember-search-input">
        </DIV>

        <DIV id="group-add-lobbyMember-search-result-wrapper">
            <DIV id="group-add-lobbyMember-search-result-query-too-short" class="group-add-lobbyMember-search-result group-add-lobbyMember-search-result-error"></DIV>
            <DIV id="group-add-lobbyMember-search-result-no-result" class="group-add-lobbyMember-search-result group-add-lobbyMember-search-result-error"></DIV>
            <DIV id="group-add-lobbyMember-search-result" class="group-add-lobbyMember-search-result"></DIV>
        </DIV>
    </MAIN>
</DIV>

</BODY>
</HTML>