main{
    text-align: center;
}

.module-wrapper{
    border: 3px ridge white;
    border-radius: 10px;
    display: inline-block;
    margin: 2rem;
    min-width: 30rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

    .module-wrapper h2{
        border-bottom: 3px ridge white;
        padding: 0.5rem;
    }

    .input-wrapper{
        position: relative;
        display: block;
        margin: 0.5rem;
        font-size: 1.5rem;
        padding-right: 2rem;
        text-align: right;
    }

        .input-wrapper input{
            font-size: 1rem;
        }

.invalid-input{
    display: none;
    border: 3px outset red;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 3px;
    padding: 0.125rem;
}