*.log
*.jks
**/target/**
**/.idea/**
*.iml
*.db
*.db-journal
*.out
logs/**

**/node_modules
**/.pnp
**.pnp.js

# testing
**/coverage
apphub-integration/error_report/**

# production
**/build

dynamodb-local-metadata.json