#content-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(100% - var(--category-list-width));
}

    #search-container{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        min-height: var(--search-container-min-height);

        border-bottom: 3px ridge white;
    }

        #search-container-title{
            width: calc(100% - 4rem);
        }

        #search-container-button-wrapper{
            position: absolute;
            right: 0.5rem;
            top: 0;
        }

            #search-container-button-wrapper button{
                margin: 0.25rem 0;
            }

    #detailed-page-container{
        position: absolute;
        top: var(--search-container-min-height);
        left: 0;
        right: 0;
        bottom: 0;
    }

        #category-details-title{
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
        }

        #category-details-content{
            overflow: auto;
        }

        .detailed-container{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255,255,255,0.15);
        }

            .detailed-container-title{
                text-align: center;
                padding: 0 0.5rem;
                border-bottom: 2px ridge white;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: var(--detailed-container-title-height);
            }

            .detailed-container-content{
                position: absolute;
                top: var(--detailed-container-title-height);
                left: 0;
                right: 0;
                bottom: 0;
            }

                #category-content-parent-selection-parent-button{
                    text-align: center;
                }

                .list-item-details-item{
                    font-size: 1.25rem;
                    margin: 0.5rem;
                    text-align: left;
                    position: relative;
                    overflow: hidden;
                }

                    .list-item-options-container{
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                        .list-item-option-button{
                            margin: 0.125rem;
                            padding: 0.125rem;
                            border-width: 1px;
                        }

                        .list-item-options-button-list-wrapper{
                            display: none;
                        }

                    .list-item-options-wrapper:hover .list-item-options-button-list-wrapper{
                        display: inline;
                    }

                    .list-item-options-wrapper:hover .list-item-options-button{
                        display: none;
                    }