:root{
    --category-list-width: 30vw;
    --search-container-min-height: 2.5rem;
    --create-item-input-height: 3.25rem;
    --detailed-container-title-height: 3rem;
}


body{
    background-color: black;
}

    #left-bar{
        position: absolute;
        top: 0;
        left: 0;
        bottom: var(--footer-height);
        width: var(--category-list-width);
        border-right: 3px ridge white;
        overflow: auto;
    }

     #contents{
        position: absolute;
        top: 0;
        left: var(--category-list-width);
        right: 0;
        bottom: 3rem;
     }

        main{
            bottom: 0;
        }

    .main-page{
        border: none;
    }

.category{
    border-color: springgreen;
}

.text{
    border-color: white;
}

.link{
    border-color: rgb(40,40,255);
}

.checklist, .pinned{
    border-color: orange;
}

.table{
    border-color: hotpink;
}

.checklist-table{
    border-color: purple;
}

.pin-button{
    background-image: url(/res/common/images/pin.png);
    background-size: cover;
    width: 1.25rem;
    height: 1.25rem;
    border-width: 2px;
}

.no-content{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.dialog-close-button{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
}

/*=== FOOTER BUTTONS ===*/
.button-wrapper{
    display: none;
}

#category-content-buttons{
    display: inline;
}

#new-button-wrapper{
    position: relative;
    display: inline-block;
}

    #new-buttons{
        display: none;
        background: var(--background-color);
        position: absolute;
        bottom: 100%;
    }

        #new-buttons .button{
            display: block;
        }

    #new-button-wrapper:hover #new-buttons{
        display: block;
    }

/*=== CREATE ITEM DIALOGS ===*/
.new-item-title{
    width: 80%;
    font-size: 1.25rem;
}

.create-item-input-wrapper{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--create-item-input-height);
    border-bottom: 3px ridge white;
    padding: 0.25rem;
}

.create-item-category{
    font-size: 1.5rem;
}

.parent-selection-wrapper{
    position: absolute;
    top: var(--create-item-input-height);
    left: 10%;
    right: 10%;
    bottom: 0;
}

/*=== TABLE ===*/
.column-title{
    width: calc(100% - 6rem);
    min-width: 7rem;
}

.table-head-button-wrapper{
    white-space: nowrap;
}

.table-column{
    height: 1px;
}

    .table-column-content{
        height: 100%;
    }