.pinned-item{
    position: relative;
    text-align: left;
    font-size: 1.25rem;
    margin: 0.5rem;
}

    .pinned-item button{
        position: absolute;
        right: 0;
        top: 0;
        border-width: 2px;
        margin: 0.125rem;
        padding: 0.125rem;
    }