#view-text-title[contenteditable=true]{
    border: 3px outset white;
    padding: 0.25rem;
    display: inline-block;
    border-radius: 10px;
    font-size: 1.75rem;
}

    #view-text-title[contenteditable=true]:focus{
        border: 3px inset red;
    }

#view-text-content-wrapper{
    text-align: center;
    padding: 5%;
}

    #view-text-content{
        width: 99%;
        height: 99%;
        resize: none;
        font-size: 1.25rem;
        padding: 0.5rem;
    }

    .view-text-button-wrapper{
        display: inline;
    }