#view-table-title[contenteditable=true]{
    border: 3px outset white;
    padding: 0.25rem;
    display: inline-block;
    border-radius: 10px;
    font-size: 1.75rem;
}

#view-table-content-wrapper{
    overflow: auto;
    padding: 1rem;
}

    #view-table-content-table{
        margin: auto;
    }

        #view-table-head-row .view-table-column-title:disabled{
            border: none;
            font-size: 1.25rem;
            background: rgba(0,0,0,0);
            padding: 0;
            margin: 0;
            cursor: initial;
        }