<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <script>
        window.SESSION_CHECK_DISABLED = true;

    </script>
    <META charset="UTF-8">

    <LINK rel="stylesheet" href="/res/common/css/reset.css">
    <LINK rel="stylesheet" href="/res/common/css/common.css">
    <LINK rel="stylesheet" href="/res/common/css/error.css">

    <SCRIPT src="/res/common/js/jquery.js"></SCRIPT>
    <SCRIPT src="/res/common/js/common_base.js"></SCRIPT>
    <SCRIPT src="/res/common/js/error_page_controller.js"></SCRIPT>
</HEAD>
<BODY>
<DIV class="main-page">
    <HEADER>
        <H1 id="main-title"></H1>
    </HEADER>

    <MAIN>
        <DIV id="message-content">
            <SPAN th:text="${error_code}"></SPAN>
            <SPAN> - </SPAN>
            <SPAN th:text="${message}"></SPAN>
            <DIV id="description" th:if="${description != null}" th:text="${description}"></DIV>
        </DIV>
    </MAIN>

    <FOOTER>
        <BUTTON id="home-button" onclick="window.location = '/web'"></BUTTON>
        <BUTTON id="logout-button" onclick="logoutService.logout()" th:class="${display_logout_button} ? '' : hidden"></BUTTON>
    </FOOTER>
</DIV>
</BODY>
</HTML>