.skyxplore-game-modify-surface-construction-area {
    margin: 10px;
    border: 3px ridge white;
    border-radius: 10px;
}

.skyxplore-game-modify-surface-construction-area-header {
    text-align: center;
    font-size: 26px;
    padding: 5px;
    border-bottom: 3px ridge white;
}

.skyxplore-game-modify-surface-construction-area-slots-wrapper {
    padding: 10px;
}

.skyxplore-game-modify-surface-construction-area-slots {
    margin: auto;
}

.skyxplore-game-modify-surface-construction-area-construction-requirements-wrapper {
    padding: 10px;
}

.skyxplore-game-modify-surface-construction-area-construction-requirements {
    margin: auto;
}

.skyxplore-game-modify-surface-construct-construction-area-button {
    display: block;
    margin: 10px auto;
    margin-top: 0;
}