spring:
  application:
    name: user

liquibase:
  schema: apphub_user

accessToken:
  cookie:
    expirationDays: 365
  expirationMinutes: 10

password:
  lockAccountFailures: 3
  lockedMinutes: 60

registration:
  defaultRoles:
  - NOTEBOOK
  - SKYXPLORE
  - ACCESS
  - TRAINING
  - UTILS
  - COMMUNITY
  - CALENDAR
  - ELITE_BASE

rolesCanBeDisabled:
- NOTEBOOK
- SKYXPLORE
- TRAINING
- TEST
- UTILS
- COMMUNITY
- CALENDAR
- VILLANY_ATESZ
- ELITE_BASE
- ELITE_BASE_ADMIN

add-role-to-all:
  restrictedRoles:
  - ACCESS
  - ADMIN
  - VILLANY_ATESZ
  - ELITE_BASE_ADMIN

settings:
  notebook:
    show-archived: true
    default-list-item-id: ~
  villany-atesz:
    stock-last-inventoried-car: ""
    stock-last-inventoried-storage: ""
    toolbox-last-inventoried: ""
  collapsed-modules:
    community: false
    admin-panel: false
    accounts: false
    office: false
    development-utils: false
    game: false
    training: false
    custom: false

maxNumberOfUsersFound: 100
deleteAccountBatchCount: 10