.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.login-form label {
    font-size: 24px;
}

.login-form input {
    font-size: 20px;
}

.login-form input[type=checkbox] {
    transform: scale(2);
}

.login-form button {
    font-size: 20px;
}

#login-user-identifier{
    min-width: 300px;
}

.registration-form {
    margin-top: 32px;
    text-align: center;
}

.registration-form-content {
    display: inline-block;
    border: 3px ridge white;
    border-radius: 5px;
}

.registration-form-content h2 {
    border-bottom: 3px ridge white;
    padding: 8px;
}

.registration-form-inputs {
    padding: 30px;
    text-align: right;
}

.registration-form-inputs label {
    display: block;
    font-size: 24px;
}

.registration-form-inputs input {
    font-size: 20px;
}

.registration-form-content>button {
    font-size: 20px;
    margin-bottom: 16px;
}