#skyxplore-game-upgrade-building{
    padding: 30px;
}

#skyxplore-game-upgrade-building-container{
    border: 3px ridge white;
    border-radius: 10px;
}

#skyxplore-game-upgrade-building-container-header{
    font-size: 26px;
    padding: 5px;
    border-bottom: 3px ridge white;
    text-align: center;
}

#skyxplore-game-upgrade-building-description{
    margin: 5px;
    text-align: center;
}

#skyxplore-game-upgrade-building-effect{
    margin: auto;
    margin-top: 5px;
}

#skyxplore-game-upgrade-building-construction-cost{
    margin: 10px auto;
}

#skyxplore-game-upgrade-building-button{
    display: block;
    margin: 10px auto;
}