#input-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 14rem;
}

    #input{
        width: 90vw;
        display: block;
        margin: auto;
        height: 10rem;
        margin-top: 1rem;
    }

    #format-button{
        margin: 1rem;
    }

#result-container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100% - 14rem);
}

    #result{
        overflow: auto;
    }

        .string {
            color: lightgreen;
        }

        .number {
            color: orange;
        }

        .boolean {
            color: cyan;
        }

        .null {
            color: pink;
        }

        .key {
            color: white;
        }
