#villany-atesz-navigation {
    border-bottom: 0px ridge #FF9800;
    height: 24px;
}

#villany-atesz-navigation-defaults {
    float: left;
}

#villany-atesz-navigation-customs {
    float: right;
}

#villany-atesz-navigation-customs * {
    display: inline;
}

#villany-atesz-navigation .opened {
    background-color: #FF9800;
}