<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<DIV id="category-content" class="main-page" th:fragment="category-content">
    <HEADER>
        <H1 id="main-title"></H1>
    </HEADER>

    <MAIN id="category-content-container" class="content-container">
        <DIV id="search-container">
            <INPUT type="text" id="search-container-title">
            <DIV id="search-container-button-wrapper">
                <BUTTON id="search-input-empty-button" onclick="searchController.resetSearchText()">X</BUTTON>
                <BUTTON id="settings-container-toggle-button">V</BUTTON>
            </DIV>

            <DIV id="settings-container">
                <LABEL>
                    <INPUT type="checkbox" id="settings-show-archived-input">
                    <SPAN id="settings-show-archived-label"></SPAN>
                </LABEL>
            </DIV>
        </DIV>

        <DIV id="detailed-page-container">
            <DIV id="category-details-container" class="detailed-container">
                <H2 id="category-details-title" class="detailed-container-title"></H2>

                <DIV id="category-details-content" class="detailed-container-content">
                    <DIV id="category-content-parent-selection-parent-button" class="button category-details-item"></DIV>
                    <DIV id="category-content-list"></DIV>
                </DIV>
            </DIV>
        </DIV>
    </MAIN>
</DIV>

</BODY>
</HTML>