<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<DIV id="create-file" class="main-page" th:fragment="create-file">
    <HEADER>
        <H1 id="create-file-title"></H1>
        <BUTTON id="create-file-close-button" class="dialog-close-button" onclick="pageController.openMainPage()">X</BUTTON>
    </HEADER>

    <MAIN>
        <DIV class="create-item-input-wrapper">
            <INPUT type="text" id="new-file-title" class="new-item-title">
        </DIV>

        <DIV id="create-file-parent-selection-wrapper">
            <DIV id="create-file-selected-category-wrapper">
                <SPAN id="create-file-selected-category"></SPAN>: <SPAN id="create-file-selected-category-title"></SPAN>
            </DIV>
            <DIV id="create-file-parent-selection-list-wrapper">
                <DIV id="create-file-parent-selection-parent-button" class="button create-item-category"></DIV>
                <DIV id="create-file-parent-selection-category-list"></DIV>
            </DIV>
        </DIV>

        <DIV id="new-file-content-wrapper">
            <DIV id="new-file-input-wrapper">
                <LABEL>
                    <SPAN id="new-file-input-label"></SPAN>:
                    <INPUT type="file" id="new-file-input">
                </LABEL>
            </DIV>
        </DIV>
    </MAIN>
</DIV>

</BODY>
</HTML>