<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<DIV id="create-image" class="main-page" th:fragment="create-image">
    <HEADER>
        <H1 id="create-image-title"></H1>
        <BUTTON id="create-image-close-button" class="dialog-close-button" onclick="pageController.openMainPage()">X</BUTTON>
    </HEADER>

    <MAIN>
        <DIV class="create-item-input-wrapper">
            <INPUT type="text" id="new-image-title" class="new-item-title">
        </DIV>

        <DIV id="create-image-parent-selection-wrapper">
            <DIV id="create-image-selected-category-wrapper">
                <SPAN id="create-image-selected-category"></SPAN>: <SPAN id="create-image-selected-category-title"></SPAN>
            </DIV>
            <DIV id="create-image-parent-selection-list-wrapper">
                <DIV id="create-image-parent-selection-parent-button" class="button create-item-category"></DIV>
                <DIV id="create-image-parent-selection-category-list"></DIV>
            </DIV>
        </DIV>

        <DIV id="new-image-content-wrapper">
            <DIV id="new-image-input-wrapper">
                <LABEL>
                    <SPAN id="new-image-input-label"></SPAN>:
                    <INPUT type="file" id="new-image-input" accept="image/png, image/gif, image/jpeg, image/jpg, image/bmp">
                </LABEL>
            </DIV>

            <DIV id="new-image-preview-wrapper">
                <IMG id="new-image-preview">
            </DIV>
        </DIV>
    </MAIN>
</DIV>

</BODY>
</HTML>