<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<DIV id="create-checklist" class="main-page" th:fragment="create-checklist">
    <HEADER>
        <H1 id="create-checklist-title"></H1>
        <BUTTON id="create-checklist-close-button" class="dialog-close-button" onclick="pageController.openMainPage()">X</BUTTON>
    </HEADER>

    <MAIN>
        <DIV class="create-item-input-wrapper">
            <INPUT type="text" id="new-checklist-title" class="new-item-title">
        </DIV>

        <DIV id="create-checklist-parent-selection-wrapper">
            <DIV id="create-checklist-selected-category-wrapper">
                <SPAN id="create-checklist-selected-category"></SPAN>: <SPAN id="create-checklist-selected-category-title"></SPAN>
            </DIV>
            <DIV id="create-checklist-parent-selection-list-wrapper">
                <DIV id="create-checklist-parent-selection-parent-button" class="button create-item-category"></DIV>
                <DIV id="create-checklist-parent-selection-category-list"></DIV>
            </DIV>
        </DIV>

        <DIV id="new-checklist-content-wrapper">
        </DIV>
    </MAIN>
</DIV>

</BODY>
</HTML>