.villany-atesz-stock-new-item-fieldset-wrapper {
    margin: 10px;
}

#villany-atesz-sotck-new-item fieldset {
}

#villany-atesz-sotck-new-item fieldset legend {
    font-size: 20px;
}

#villany-atesz-sotck-new-item label {
    display: block;
    font-size: 20px;
}

#villany-atesz-sotck-new-item fieldset{
    display: inline-block;
}

#villany-atesz-sotck-new-item {
    text-align: center;
}