.villany-atesz-stock-new-item-fieldset-wrapper {
    margin: 30px;
}

#villany-atesz-sotck-new-item fieldset {
    display: inline-block;
    text-align: center;
}

#villany-atesz-sotck-new-item fieldset legend {
    font-size: 20px;
}

#villany-atesz-sotck-new-item label {
    display: block;
    font-size: 20px;
}