#villany-atesz main {
    padding: 0;
}

#villany-atesz-total-stock-value,
#villany-atesz-total-toolbox-value {
    margin: 5px;
}

#villany-atesz-stock-items-marked-for-acquisition {
    margin: 10px;
}