.villany-atesz-main-page {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    border: 5px white;
    background-color: rgb(236, 236, 236);
}

.villany-atesz-main-page .confirmation-dialog-content-wrapper {
    background-color: white;
}

.villany-atesz-main-page input:focus,
.villany-atesz-main-page textarea:focus,
[contenteditable='true']:focus {
    border-color: #FF9800;
    border-style: inset;
    outline: none;
}

.villany-atesz-main-page .formatted-table th,
.villany-atesz-main-page .formatted-table td {
    height: 30px;
    padding: 1px 3px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.villany-atesz-main-page input,
.villany-atesz-main-page textarea,
[contenteditable='true'] {
    background: #FFE0B2;
    border: 1px outset rgb(0, 0, 0);
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    color: rgb(0, 0, 0);
    font-family: monospace;
}

.villany-atesz-main-page header {
    margin: 0;
    padding: 0;
    border: none;
    background: #FF9800;
}

.villany-atesz-main-page header>h1,
.villany-atesz-main-page header>h2 {
    text-align: center;
    padding: 4px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.villany-atesz-main-page h1 {
    font-weight: 700;
    font-size: 40px;
}

.villany-atesz-main-page footer {
    background-color: #FF9800;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 0px ridge white;
    white-space: nowrap;
    height: var(--footer-height);
    text-align: center;
}

.villany-atesz-main-page main {
    position: absolute;
    max-width: 1536px;
    margin: auto;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    top: 56px;
    left: 0;
    right: 0;
    bottom: 50px;
    overflow: auto;
    padding: 0.5rem 0;
}

.villany-atesz-main-page .formatted-table th {
    font-size: 16px;
    font-weight: bold;
}


.villany-atesz-main-page .formatted-table td {
    text-align: center;
}

.villany-atesz-main-page button,
.villany-atesz-main-page .button,
.villany-atesz-main-page a,
.villany-atesz-main-page select,
.villany-atesz-main-page footer label {
    font-size: 15px;
    justify-content: space-evenly;
    background-color: #FFE0B2;
    ;
    border: 0px outset #212121;
    border-radius: 10px;
    padding: 2px 10px;
    cursor: pointer;
    color: #212121;
    white-space: nowrap;
    text-align: center;
}