#solar-system-name{
    font-size: 1.75rem;
    margin-top: 0.125rem;
    display: inline-block;
    cursor: pointer;
}

    #solar-system-name:not([contenteditable='true']){
        border: 3px solid transparent;
        padding: 0.2rem;
    }

#solar-system-container{
    margin: 1rem;
}

    .solar-system-planet-name-element{
        fill: cyan;
        font-size: 1.5rem;
        font-weight: 700;
        stroke: #0073e6;
        stroke-width: 1px;
    }