#terraforming-possibilities{

}

    .terraforming-possibility{
        margin: 1rem;
        text-align: center;
        border: 3px ridge white;
        border-radius: 10px;
        padding-bottom: 0.5rem;
    }

        .terraforming-possibility-title{
            border-bottom: 3px ridge white;
            font-size: 2rem;
            padding: 0.5rem;
        }

        .terraforming-possibility-construction-requirements{
            margin: 1rem auto;
        }