#performance-reporting main {
    display: flex;
    flex-direction: column;
}

#performance-reporting-operations {
    border-bottom: 3px ridge white;
}

#performance-reporting-reports {
    overflow: auto;
    padding: 10px;
}

.performance-reproting-reports-topic-reports {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.performance-reproting-reports-topic-reports-item-hide-button {
    margin: 0;
    font-size: 10px;
}