<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <META charset="UTF-8">

    <LINK rel="stylesheet" href="/res/common/css/reset.css">
    <LINK rel="stylesheet" href="/res/common/css/common.css">
    <LINK rel="stylesheet" href="/res/notebook/css/notebook.css">
    <LINK rel="stylesheet" href="/res/notebook/css/category_tree_view.css">
    <LINK rel="stylesheet" href="/res/notebook/css/content.css">
    <LINK rel="stylesheet" href="/res/notebook/css/create_category_dialog.css">
    <LINK rel="stylesheet" href="/res/notebook/css/create_only_title_dialog.css">
    <LINK rel="stylesheet" href="/res/notebook/css/create_text_dialog.css">
    <LINK rel="stylesheet" href="/res/notebook/css/create_link_dialog.css">
    <LINK rel="stylesheet" href="/res/notebook/css/create_image_dialog.css">
    <LINK rel="stylesheet" href="/res/notebook/css/create_file_dialog.css">
    <LINK rel="stylesheet" href="/res/notebook/css/create_checklist_dialog.css">
    <LINK rel="stylesheet" href="/res/notebook/css/create_table_dialog.css">
    <LINK rel="stylesheet" href="/res/notebook/css/create_checklist_table_dialog.css">
    <LINK rel="stylesheet" href="/res/notebook/css/view_text_dialog.css">
    <LINK rel="stylesheet" href="/res/notebook/css/view_checklist_dialog.css">
    <LINK rel="stylesheet" href="/res/notebook/css/edit_list_item.css">
    <LINK rel="stylesheet" href="/res/notebook/css/view_table.css">
    <LINK rel="stylesheet" href="/res/notebook/css/view_checklist_table.css">
    <LINK rel="stylesheet" href="/res/notebook/css/pinned_items.css">
    <LINK rel="stylesheet" href="/res/notebook/css/settings.css">
    <LINK rel="stylesheet" href="/res/notebook/css/view_image.css">
    <LINK rel="stylesheet" href="/res/notebook/css/view_file.css">

    <SCRIPT src="/res/common/js/jquery.js"></SCRIPT>
    <SCRIPT src="/res/common/js/common_base.js"></SCRIPT>
    <SCRIPT src="/res/notebook/js/page_controller.js"></SCRIPT>
</HEAD>
<BODY>

<DIV th:replace="/notebook/fragment/left_container.html :: left-container"></DIV>
<DIV th:replace="/notebook/fragment/contents.html :: contents"></DIV>
<DIV th:replace="/notebook/fragment/footer.html :: footer"></DIV>
</BODY>
</HTML>