.close-dialog-button{
    position: absolute;
    top: 0;
    right: 0.25rem;
    font-size: 1.5rem;
}

.list-item{
    text-align: left;
    position: relative;
}

    .list-item-button-wrapper{
        position: absolute;
        top: 0;
        right: 0;
    }

        .list-item-button-wrapper button{
            margin: 0.125rem;
            padding: 0.125rem;
            border-width: 1px;
            font-size: 0.7rem;
        }

#main main{
    display: grid;
    grid-template-columns: 35% 35% 30%;
    padding: 0;
}

    .tab{
        display: grid;
        grid-template-rows: 2.25rem auto;
    }

        .tab h2{
            border-bottom: 1px solid white;
            text-align: center;
        }

    #chat-main{
        border-right: 3px ridge white;
    }

        #chat-content{
            display: flex;
        }

            #chat-conversations{
                display: grid;
                grid-template-rows: 2.25rem auto;
                border-right: 2px solid white;
                max-width: 50%;
                overflow: hidden;
                font-family: monospace;
            }

                #new-conversation-button-wrapper{
                    border-bottom: 1px solid white;
                }

                    #new-conversation-button{

                    }

                #chat-conversations-list{

                }

            #chat-conversation-wrapper{
                display: grid;
                grid-template-rows: auto 2.25rem;
                flex-grow: 2;
            }

                #chat-conversation{

                }

                #message-input-wrapper{
                    border-top: 1px solid white;
                    text-align: center;
                }

                    #message-input{
                        width: 90%
                    }

    #flow-main{

    }

    #contacts-main{
        border-left: 3px ridge white;
        grid-template-rows: 2.25rem 2.25rem auto;
    }

        #contacts-nav-button-wrapper{
        }

            .selected-tab-button{
                border-color: lime;
            }

        #contacts-content{

        }

            .contacts-panel{
                display: grid;
                height: calc(100% - 0.75rem);
                border: 3px inset white;
                margin: 0.5rem;
                margin-top: 0.25rem;
            }

                .contacts-panel h3{
                    text-align: center;
                    border-bottom: 1px solid white;
                }

            #contacts-friends{
                grid-template-rows: auto;
                border: none;
                margin: 0;
                height: calc(100% - 0.25rem);
            }

                #contacts-friend-list-wrapper{
                    display: flex;
                    flex-direction: column;
                }

                    .friends-list-item{
                        display: grid;
                        grid-template-rows: 1.5rem auto;
                        flex-grow: 2;
                        border: 3px inset white;
                        margin: 0.25rem 0.5rem;
                    }

                        .friends-list-title{
                            font-weight: bold;
                            border-bottom: 1px solid white;
                            text-align: center;
                            padding: 0.25rem;
                        }

                        #friends-list{

                        }

                            #friends-list-content{

                            }

                        #received-friend-requests{

                        }

                            #received-friend-requests-content{

                            }

                        #sent-friend-requests{
                            grid-template-rows: 1.5rem auto 2.25rem;
                        }

                            #sent-friend-requests-content{

                            }

                            #contacts-add-friend-button-wrapper{
                                text-align: center;
                                border-top: 1px solid white;
                            }

                                #contacts-add-friend-button{

                                }

            #contacts-groups{
                grid-template-rows: 2.25rem auto 2.25rem;
            }

                #contacts-groups-search-wrapper{
                    text-align: center;
                    border-bottom: 1px solid white;
                }

                    #contacts-groups-search-input{
                        width: 90%;
                    }

                #contacts-groups-list{

                }

                #contacts-groups-create-wrapper{
                    border-top: 1px solid white;
                    text-align: center;
                }

                    #contacts-groups-create-button{

                    }

            #contacts-blacklist{
                grid-template-rows: 2.25rem auto;
            }

                #contacts-blacklist-add-wrapper{
                    text-align: center;
                    border-bottom: 1px solid white;
                }

                    #contacts-blacklist-add-button{

                    }

                #contacts-blacklist-list{

                }

#create-friend-request main{
    display: grid;
    grid-template-rows: 4rem auto;
}

    #create-friend-request-search-wrapper{
        text-align: center;
    }

        #create-friend-request-search-input{
            width: 90%;
        }

    #create-friend-request-search-result-wrapper{
        overflow: auto;
        padding-bottom: 1rem;
    }

        .create-friend-request-search-result-error{
            text-align: center;
            font-size: 2rem;
        }

        #create-friend-request-search-result-wrapper .button{
            font-size: 1.25rem;
            width: 90%;
            margin: auto;
        }

#create-blacklist main{
    display: grid;
    grid-template-rows: 4rem auto;
}

    #create-blacklist-search-wrapper{
        text-align: center;
    }

        #create-blacklist-search-input{
            width: 90%;
        }

    #create-blacklist-search-result-wrapper{
        overflow: auto;
        padding-bottom: 1rem;
    }

        .create-blacklist-search-result-error{
            text-align: center;
            font-size: 2rem;
        }

        #create-blacklist-search-result-wrapper .button{
            font-size: 1.25rem;
            width: 90%;
            margin: auto;
        }