<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <META charset="UTF-8">

    <LINK rel="stylesheet" href="/res/common/css/reset.css">
    <LINK rel="stylesheet" href="/res/common/css/common.css">
    <LINK rel="stylesheet" href="/res/training/css/training_common.css">

    <SCRIPT src="/res/common/js/jquery.js"></SCRIPT>
    <SCRIPT src="/res/training/js/common.js"></SCRIPT>
    <SCRIPT src="/res/common/js/common_base.js"></SCRIPT>
    <SCRIPT>pageLoader.runLoaders()</SCRIPT>

    <TITLE>Űrlapok - HTML - Oktatás - Apphub</TITLE>
</HEAD>
<BODY>
<DIV id="main" class="main-page">
    <HEADER>
        <H1 id="main-title">HTML - Űrlapok</H1>
    </HEADER>

    <NAV th:replace="/menu/html.html :: menu"></NAV>

    <MAIN>
        <ARTICLE>
            <H2>Űrlap létrehozása</H2>

            <DIV>Ha a felhasználótól valamilyen adatot szeretnénk elkérni, akkor azt űrlapokkal tehetjük meg.</DIV>
            <DIV>Űrlapot a <CODE class='codepart'>&lt;form></CODE> taggel lehet létrehozni.</DIV>
            <DIV>
                A <CODE>&lt;form></CODE> tagnek két fontos attribútuma van:
                <UL>
                    <LI><CODE>action="target_url"</CODE> azt a webcímet tartalmazza, ahova a küldés gomb megnyomásakor a bevitt aadatokat elküldi a böngésző</LI>
                    <LI>
                        <CODE>method="http_method"</CODE> az adat küldés típusát határozza meg. A leggyakrabban használt HTTP methodok:
                        <UL>
                            <LI>GET: adatok lekérésére</LI>
                            <LI>POST vagy PUT: adatok küldésére</LI>
                            <LI>DELETE: adatok törlésére</LI>
                        </UL>
                    </LI>
                </UL>
                Megjegyzés: a szerver határozza meg, hogy milyen metódusokat képes kezelni, illetve a megadott metódusra milyen műveletet hajt végre.
            </DIV>
            <DIV>A megnyitás helyére vonatkozó beállítások (új fülön, azonos oldalon, stb) a <CODE>target=""</CODE> attribútummal állíthatók, ugyanúgy mint a hivatkozásoknál.</DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Beviteli mezők</H2>

            <DIV>
                Az űrlaphoz adat beviteli mezőket kell hozzá adni. Minden adat típusnak külön mezője van, de van, ami (majdnem) mindegyikben közös:
                <UL>
                    <LI>Az <CODE>&lt;input></CODE> taggel kell létrehozni. (Nincs záró párja)</LI>
                    <LI>
                        Az <CODE>&lt;input></CODE> tag <CODE>type="tipus"</CODE> attribútuma határozza meg, hogy milyen típusú adat bevitelére képes:
                        <UL>
                            <LI><CODE>type="text"</CODE>: szöveg</LI>
                            <LI><CODE>type="password"</CODE>: jelszó</LI>
                            <LI><CODE>type="submit"</CODE>: küldés gomb</LI>
                            <LI><CODE>type="reset"</CODE>: gomb, melynek hatására minden, az adott űrlapban található beviteli mező az eredeti értékre áll vissza</LI>
                            <LI><CODE>type="radio"</CODE>: választó gomb (<INPUT type='radio'>)</LI>
                            <LI><CODE>type="checkbox"</CODE>: jelölő négyzet (<INPUT type='checkbox'>)</LI>
                            <LI><CODE>type="color"</CODE>: szín</LI>
                            <LI><CODE>type="date"</CODE>: dátum</LI>
                            <LI><CODE>type="tima"</CODE>: idő</LI>
                            <LI><CODE>type="datetime-local"</CODE>: dátum és idő (helyi időzóna szerint)</LI>
                            <LI><CODE>type="email"</CODE>: email cím</LI>
                            <LI><CODE>type="file"</CODE>: fájl</LI>
                            <LI><CODE>type="month"</CODE>: év és hónap</LI>
                            <LI><CODE>type="number"</CODE>: szám</LI>
                            <LI><CODE>type="hidden"</CODE>: nem látható</LI>
                            <LI><CODE>type="range"</CODE>: csúszka</LI>
                            <LI><CODE>type="url"</CODE>: URL</LI>
                            <LI><CODE>type="week"</CODE>: hét (az adott év x-edik hete)</LI>
                        </UL>
                    </LI>
                    <LI>
                        (Többé-kevésbé) közös attribútumok:
                        <UL>
                            <LI><CODE>disabled</CODE>: a beviteli mező nem szerkeszthető, és nem kerül küldésre az űrlap elküldésekor</LI>
                            <LI><CODE>readonly</CODE>: a beviteli mező nem szerkeszthető, de küldésre kerül az űrlap elküldésekor</LI>
                            <LI><CODE>max</CODE>: a kiválasztható legnagyobb érték</LI>
                            <LI><CODE>maxlength</CODE>: begépelhető karakterek száma</LI>
                            <LI><CODE>min</CODE>: a kiválasztható legkisebb érték</LI>
                            <LI><CODE>size</CODE>: a beviteli mező mérete</LI>
                            <LI><CODE>required</CODE>: a mező kitöltése kötelező (különben az űrlap nem küldhető el)</LI>
                            <LI><CODE>step</CODE>: lépték (szám bevitelnél)</LI>
                            <LI><CODE>value</CODE>: kezdőérték</LI>
                            <LI><CODE>name</CODE>: a beviteli mező neve (beviteli mezőnként egyedi, kivéve választó gomb)</LI>
                            <LI><CODE>placeholder</CODE>: segítő szöveg (ami addig jelenik meg, amíg üres a mező)</LI>
                            <LI><CODE>checked</CODE>: a választó gomb / jelölő négyzet kiválasztott állapotban van</LI>
                            <LI><CODE>autofocus</CODE>: az oldal betöltésekor automatikusan ebbe a beviteli mezőbe állítja a kurzort</LI>
                            <LI>
                                <CODE>autocomplete</CODE>: megadja, hogy a böngésző megpróbálja-e magától kitölteni a beviteli mezőt (pl. felhasználónév és jelszó automatikus kitöltése)
                            </LI>
                        </UL>
                    </LI>
                </UL>
            </DIV>

            <iframe src="/web/training/html/sample/inputs" onload="resizeIFrameToFitContent(this)"></iframe>
        </ARTICLE>

        <ARTICLE>
            <H2>Választó gombok</H2>

            <DIV>
                Ahogy fentebb is említettem, választó gombokat az <CODE>&lt;input type="radio"></CODE> taggel lehet létrehozni:<BR>
                <DIV>
                    Neme:<BR>
                    <INPUT type='radio' value='ferfi'> Férfi<BR>
                    <INPUT type='radio' value='no'> Nő
                </DIV>
                Viszont van egy kis probléma: A fenti gombok nem éppen úgy működnek, ahogyan azt elvárhatnánk. A "normális" választó gombok egyszerre csak egy gomb kiválasztását teszik lehetővé.
            </DIV>
            <DIV>
                Ahhoz, hogy a választó gombok tényleg választási lehetőséget adjanak, ahhoz csoportba kell foglalni őket. Ehhez azonos nevet kell adni nekik, tehát az egy csoportba tartozó gombok
                <CODE>name</CODE> attribútumának egyenlő értéket kell adni. Például:<BR>

                <PRE th:replace="/example/html/forms.html :: radio"></PRE>

                <DIV>
                    Neme:<BR>
                    <INPUT type='radio' name='nem' value='ferfi'> Férfi<BR>
                    <INPUT type='radio' name='nem' value='no'> Nő
                </DIV>
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Címkék</H2>

            <DIV>
                Vegyük az előző példát, egy egyszerű nem választást:
                <DIV>
                    Neme:<BR>
                    <INPUT type='radio' name='nem' value='ferfi'> Férfi<BR>
                    <INPUT type='radio' name='nem' value='no'> Nő
                </DIV>
                Ugye, hogy milyen nehéz eltalálni azokat az apró pöttyöket?
            </DIV>
            <DIV>
                Na és most?
                <DIV>
                    Neme:<BR>
                    <LABEL><INPUT type='radio' name='nem' value='ferfi'> Férfi</LABEL><BR>
                    <LABEL><INPUT type='radio' name='nem' value='no'> Nő</LABEL>
                </DIV>
                (Kis segítség: próbálj mind a két esetben a feliratra kattintani a golyó helyett!)
            </DIV>
            <DIV>Bármely <CODE>&lt;input></CODE> taget egy
                <CODE>&lt;label></CODE> tagbe foglalva egy olyan feliratot adhatunk hozzá a beviteli mezőhöz, amelyre kattintva a böngésző a közbezárt beviteli mezőre irányítja a fókuszt.<BR>
            </DIV>
            <DIV>Nézd csak meg a legelső példát kicsit 'felturbózva'!</DIV>
            <iframe src="/web/training/html/sample/label" onload="resizeIFrameToFitContent(this)"></iframe>
        </ARTICLE>

        <ARTICLE>
            <H2>Beviteli mezők csoportosítása</H2>

            <DIV>Ha túl sok adatot kell bekérni a felhasználótól, könnyen egy nagy kavalkáddá változhat az oldal. Ilyenkor nem árt csoportokba rendezni a mezőket a jobb áttekinthetőség érdekében.</DIV>
            <DIV>Erre ad a kezünkbe egy hasznos eszközt a <CODE>&lt;fieldset></CODE> tag. (Lásd a példa forráskódját)</DIV>
            <DIV>A fieldseteknek nevet is lehet adni, mégpedig a <CODE>&lt;legend></CODE> taggel.</DIV>
            <iframe src="/web/training/html/sample/fieldset" onload="resizeIFrameToFitContent(this)"></iframe>
        </ARTICLE>

        <ARTICLE>
            <H2>Több soros szöveg</H2>

            <DIV>
                Több soros szöveget a <CODE>&lt;textarea></CODE> taggel lehet létrehozni, a következő módon:<BR>
                <CODE>&lt;textarea name="szoveg">Alapértelmezett tartalom&lt;/textarea></CODE><BR>
                <FORM action='/web/training/sample' method='POST' target='_blank'>
                    <TEXTAREA name="szoveg">Alapértelmezett tartalom</TEXTAREA>
                    <INPUT type='submit'>
                </FORM>
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Legördülő menü</H2>

            <DIV>Legördíthető menüt a <CODE>&lt;select></CODE> taggel lehet létrehozni.</DIV>
            <DIV>A menühöz választható elemeket az <CODE>&lt;option></CODE> taggel lehet hozzáadni a következőképp:</DIV>

            <PRE th:replace="/example/html/forms.html :: select"></PRE>

            <DIV>Mint ahogy a fenti példában is látható, alapértelmezett elemet az <CODE>&lt;option></CODE> tag <CODE>selected</CODE> attribútumával lehet beállítani.
            </DIV>

            <FORM action='/web/training/sample' method='POST' target='_blank'>
                <SELECT name='select_menu'>
                    <OPTION value='ertek1'>Érték 1</OPTION>
                    <OPTION value='ertek2' selected>Érték 2</OPTION>
                </SELECT>
                <INPUT type='submit'>
            </FORM>
        </ARTICLE>

        <ARTICLE>
            <H2>Kiválasztó menü</H2>

            <DIV>
                Kiválasztó menü létrehozásának a módja ugyanaz, mint a legördülő menüé, egy apró különbséggel:<BR>
                A <CODE>&lt;select></CODE> taghez egy extra attribútumot kell adni, mégpedig a
                <CODE>size</CODE>-t, egy 1-nél nagyobb szám értékkel. (Az érték azt adja meg, hogy egyszerre hány elem látszódjon a listából.)
            </DIV>

            <PRE th:replace="/example/html/forms.html :: multi-select"></PRE>

            <FORM action='/web/training/sample' method='POST' target='_blank'>
                <SELECT name='select_menu' size='2'>
                    <OPTION value='ertek1'>Érték 1</OPTION>
                    <OPTION value='ertek2' selected>Érték 2</OPTION>
                    <OPTION value='ertek3'>Érték 3</OPTION>
                </SELECT>
                <INPUT type='submit'>
            </FORM>
        </ARTICLE>

        <ARTICLE>
            <H2>Szerkeszthető legördülő menü</H2>

            <DIV>A legördülő menünél kissé kötetlenebb megoldást nyújt a szerkeszthető legördülő menü, ahol a felhasználó egy listából választhatja ki a megfelelő elemet, de saját értéket is megadahat.</DIV>
            <DIV>Elkészítése a következőképp lehetséges:</DIV>

            <PRE th:replace="/example/html/forms.html :: datalist"></PRE>

            <DIV>
                <FORM action='/web/training/sample' method='POST' target='_blank'>
                    <INPUT list="adatlista" name="ertek">
                    <DATALIST id='adatlista'>
                        <OPTION value='ertek1'>Érték 1</OPTION>
                        <OPTION value='ertek2'>Érték 2</OPTION>
                        <OPTION value='ertek3'>Egyéb</OPTION>
                    </DATALIST>
                    <INPUT type='submit'>
                </FORM>
            </DIV>
        </ARTICLE>
    </MAIN>

    <FOOTER>
        <BUTTON id="previous" onclick="window.location.href = '/web/training/html/004_tags_content'">Előző</BUTTON>
        <BUTTON id="home" onclick="window.location.href = '/web/modules'">Kezdőlap</BUTTON>
    </FOOTER>
</DIV>
</BODY>
</HTML>