#villany-atesz-toolbox-overview {}

#villany-atesz-toolbox-overview-search {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    position: sticky;
    top: 5px;
}

#villany-atesz-toolbox-overview-table {
    margin: auto;
}

.villany-atesz-toolbox-overview-item-name {
    text-align: left !important;
}

.villany-atesz-toolbox-overview-item-operations {
    white-space: nowrap;
}