#villany-atesz-stock main {
    padding: 0;
}

#villany-atesz-stock select {
    text-align: left;
}

#villany-atesz-stock #villany-atesz-navigation {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#villany-atesz-stock-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 25px;
    overflow: auto;
}

.villany-atesz-stock-overview-item-name {
    text-align: left !important;
}