spring:
  application:
    name: elite-base
  datasource:
    hikari:
      maximumPoolSize: 50

liquibase:
  schema: elite_base

elite-base:
  cache:
    expireAfterAccess: PT1H
    bufferSynchronizationInterval: PT5M
    bufferSynchronizationCheckInterval: PT10S
    maxBufferSize: 100000
    cacheReadTimeout: PT5S
    loadRetryDelay: PT5S
  messageExpiration: P30D
  processedMessageExpiration: P1D
  messageProcessorBatchSize: 500
  executor:
    messageProcessor:
      threadCount: 10
    scheduled:
      threadCount: 2
  messageProcessorRetryDelay: PT2H
  messageProcessorMaxRetryCount: 50
  searchPageSize: 10
  incomingMessageTimeout: PT10M
  incomingMessageCheckInterval: PT30S
  orphanedRecordCleaner:
    processorParallelism: 4
    timeout: PT2H
    batchSize: 10000
