:root {
    --villany-atesz-contacts-inputs-width: 350px;
}

#villany-atesz-contacts main {
    padding: 0;
}

#villany-atesz-contacts #villany-atesz-navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#villany-atesz-contacts-content-wrapper {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

#villany-atesz-contacts-content {
    flex-grow: 2;
    padding: 10px;
    overflow: auto;
}

#villany-atesz-contacts-search {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

#villany-atesz-contacts-content-table {
    margin: auto;
}

#villany-atesz-contacts-content-table th {
    cursor: pointer;
}

#villany-atesz-contacts-content-table tbody tr td {
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
}

#villany-atesz-contacts-inputs-wrapper {
    text-align: center;
    border-left: 3px ridge white;
}

#villany-atesz-contacts-inputs-title {
    padding: 5px;
    font-size: 24px;
    border-bottom: 1px solid white;
}

#villany-atesz-contacts-inputs {
    text-align: right;
}

#villany-atesz-contacts-inputs label {
    margin: 10px;
    display: block;
    font-size: 20px;
}