#notebook-content-table-content-table{
    margin: 16px auto;
}

.notebook-table-row.checked td{
    text-decoration: line-through;
    opacity: 0.5;
}

.notebook-content-table-add-row-button{
    display: block;
    margin: auto;
    width: 75%;
}

#notebook-content-table-content-table thead{
    position: sticky;
    top: 0;
    background: black;
}