:root{
    --bar-title-height: 2.5rem;
    --search-field-height: 2.5rem;
}

#left-bar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 33%;
    border-right: 3px ridge white;
}

#right-bar{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 67%;
}

    .bar-title{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: var(--bar-title-height);
        border-bottom: 2px ridge white;
        text-align: center;
        padding: 0.2rem;
    }

    #favorites-list{
        position: absolute;
        top: var(--bar-title-height);
        left: 0;
        right: 0;
        bottom: 0;
    }

    #search-field-wrapper{
        position: absolute;
        top: var(--bar-title-height);
        left: 0;
        right: 0;
        height: var(--search-field-height);
        border-bottom: 1px ridge white;
        text-align: center;
        padding: 0.2rem;
    }

        #search-field{
            width: 95%;
        }

    #all-modules-list{
        position: absolute;
        top: calc(var(--bar-title-height) + var(--search-field-height));
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }

    .category{
        border: 1px solid white;
        border-radius: 10px;
        margin: 1rem;
        padding: 0.5rem;
    }

        .category-name{
            font-size: 1.5rem;
            border-bottom: 1px solid white;
            margin-bottom: 0.5rem;
        }

            .module{
                display: flex;
            }

            .module-link{
                float: right;
                border-width: 2px;
                border-radius: 0;
                display: inline-block;
                width: calc(100% - 3rem);
                text-align: left;
            }

            .favorite-button{
                float: left;
                display: inline-block;
                width: 1.75rem;
                height: 1.75rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 80%;
                border-width: 2px;
                vertical-align: middle;
            }

                .favorite{
                    background-image: url("/res/modules/images/favorite.png");
                }

                .non-favorite{
                    background-image: url("/res/modules/images/non_favorite.png");
                }