:root {
    --footer-height: 50px;
    --footer-border-width: 5px;
    --header-height: 56px;
    --background-color: rgba(25, 25, 25, 1);
    --main-page-border-width: 5px;

    --confirmation-dialog-header-height: 40px;
    --confirmation-dialog-footer-height: 40px;
}

body {
    color: white;
}

.main-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    border: var(--main-page-border-width) ridge white;
    background-color: rgba(25, 25, 25, 1);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    border-bottom: 5px ridge white;
    background: var(--background-color);
}

header>h1,
header>h2 {
    text-align: center;
    padding: 4px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

main {
    position: absolute;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: var(--footer-height);
    overflow: auto;
    padding: 0.5rem 0;
}

main.headless {
    top: 0;
}

main.footerless {
    bottom: 0;
}

footer {
    background-color: var(--background-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: var(--footer-border-width) ridge white;
    white-space: nowrap;
    height: var(--footer-height);
    text-align: center;
}

footer button,
footer label,
footer .button {
    font-size: 20px;
    display: inline-block
}

h1 {
    font-weight: 700;
    font-size: 40px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}

h4 {
    font-weight: 700;
    font-size: 20px;
}

/*================INPUT/NAVIGATION ELEMENTS==================*/
.validated-input-field-wrapper {
    display: inline-block;
    padding-right: 36px;
    position: relative;
}

.validation-result-field {
    position: absolute;
    top: 4px;
    right: 4px;
    border: 3px outset red;
    border-radius: 5px;
    padding: 2px;
}

label {
    white-space: nowrap;
}

*[draggable=true] {
    cursor: move !important;
}

a {
    text-decoration: none;
    color: white;
}

button,
.button,
a,
select,
footer label,
.multi-select {
    margin: 4px;
    background: var(--background-color);
    border: 3px outset white;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    color: white;
    white-space: nowrap;
    text-align: center;
}

.multi-select {
    display: inline-block;
    padding: 0;
}

.multi-select-operations {
    border-bottom: 2px inset white;
}

.multi-select-options {
    text-align: left;
}

.multi-select-option {
    margin: 4px;
}

.multi-select-option input[type=checkbox]{
    transform: scale(1.5);
}

select option {
    text-align: center;
}

.button.disabled {
    border-color: rgb(100, 100, 100) !important;
    cursor: no-drop;
}

label * {
    cursor: pointer;
}

button:hover,
.button:hover,
a:hover,
footer label:hover {
    border-color: red;
}

button:active,
.button:active,
a:active,
footer label:active {
    border-color: orange !important;
    border-style: inset;
    outline: none;
}

.button.disabled:active {
    border-color: white;
    border-style: outset;
    outline: default;
}

input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input,
textarea,
[contenteditable='true'] {
    background: var(--background-color);
    border: 3px outset white;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    color: white;
    font-family: monospace;
}

div[contenteditable='true'] {
    padding-right: 16px;
}

input:focus,
textarea:focus,
[contenteditable='true']:focus {
    border-color: red;
    border-style: inset;
    outline: none;
}

input[type='checkbox'] {
    cursor: pointer;
}

input[type='checkbox']:disabled {
    opacity: 0.5;
    cursor: default;
}

input[type=range] {
    vertical-align: middle;
}

input:disabled,
button:disabled,
textarea:disabled,
.disabled {
    border-color: rgb(100, 100, 100) !important;
    cursor: no-drop
}

#registration-button {
    font-size: 20px;
    margin-bottom: 16px;
}

.right-button {
    float: right;
}

textarea {
    resize: none;
}

/*================TABLE ELEMENTS==================*/
.formatted-table th {
    font-size: 24px;
}

.formatted-table th,
.formatted-table td {
    padding: 4px;
    border: 3px inset white;
    vertical-align: middle;
}

.formatted-table tr:nth-child(odd) {
    background-color: rgba(200, 200, 200, 0.1);
}

.formatted-table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.25);
}

.formatted-table thead tr:first-child {
    background-color: rgba(0, 75, 150, 0.3);
}

.formatted-table tbody tr:hover {
    background-color: rgba(150, 150, 150, 0.8);
}

/*=======NOTIFICATION=======*/
#notification-container {
    position: fixed;
    left: 5px;
    top: 5px;
    max-width: calc(100vw - 10px);
    z-index: 999;
}

.notification-message-wrapper {
    display: inline-block;
}

.notification-message {
    font-size: 24px;
    margin: 4px;
    padding: 4px;
    white-space: nowrap;
}

.notification-success {
    background: green;
}

.notification-error {
    background: red;
}

.selectable,
.selectable * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./img/spinner.gif");
    background-position: center;
    background-attachment: fixed;
    background-size: 10vw 10vw;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    z-index: 100
}

/*=======CONFIRMATION_DIALOG=======*/
.confirmation-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.confirmation-dialog-content-wrapper {
    background: black;
    border: 3px ridge white;
    border-radius: 10px;

    display: grid;
    grid-template-rows: 40px auto 40px;
}

.confirmation-dialog-title {
    border-bottom: 2px ridge white;
    padding: 0 4px;
}

.confirmation-dialog-detail-container {
    padding: 16px;
    bottom: var(--confirmation-dialog-footer-height);
    font-size: 20px;
    overflow: auto;
}

.confirmation-dialog-button-container {
    border-top: 2px ridge white;
    display: flex;
    justify-content: space-evenly;
}

.confirmation-dialog-confirm-button {
    float: left;
    margin-left: 20%
}

.confirmation-dialog-decline-button {
    float: right;
    margin-right: 20%
}

/*======SCROLLBAR======*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: darkblue;
    border-radius: 10px;
}

/*=======ADDITIONAL=======*/
.notification-container {
    color: red;
}

.centered {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.relative {
    position: relative;
}

.invisible {
    visibility: hidden;
}

.red {
    color: red;
}

.nowrap {
    white-space: nowrap;
}

.hidden {
    display: none;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline {
    display: inline;
}

.background-red {
    background-color: red !important;
}

.background-yellow {
    background-color: yellow !important;
}

.background-orange {
    background-color: orange !important;
}

.resizable {
    resize: both;
}