.skxyplore-game-planet-overview-storage-details-item {
    border-top: 1px solid white;
    margin-top: 3px;
    font-size: 16px;
}

.skxyplore-game-planet-overview-storage-details-item-name{
    margin-top: 5px;
}