#villany-atesz-toolbox-manage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.villany-atesz-toolbox-manage-tab {
    border: 3px ridge white;
    border-radius: 5px;
    margin: 5px;
}

.villany-atesz-toolbox-manage-tab-title {
    padding: 5px;
    border-bottom: 3px ridge white;
}

.villany-atesz-toolbox-manage-tab-content-item {
    border: 2px outset white;
    margin: 3px;
    padding: 3px;
}

.villany-atesz-toolbox-manage-tab-content-item:hover {
    border-color: red;
    border-style: inset;
}

.villany-atesz-toolbox-manage-tool-type-enable-editing-button,
.villany-atesz-toolbox-manage-storage-box-enable-editing-button {
    background-image: url("../../../../../common/style/img/edit.png");
    background-size: cover;
    border-width: 1px;
    width: 22px;
    height: 22px;
}

.villany-atesz-toolbox-manage-tool-type-save-button,
.villany-atesz-toolbox-manage-storage-box-save-button {
    background-image: url("../../../../../common/style/img/save.png");
    background-size: cover;
    border-width: 1px;
    width: 25px;
    height: 25px;
}

.villany-atesz-toolbox-manage-tool-type-discard-button,
.villany-atesz-toolbox-manage-storage-box-discard-button {
    border-width: 2px;
}

.villany-atesz-toolbox-manage-tool-type-delete-button,
.villany-atesz-toolbox-manage-storage-box-delete-button {
    background-image: url("../../../../../common/style/img/delete.png");
    background-size: cover;
    border-width: 1px;
    width: 22px;
    height: 22px;

}