:root{
    --tab-width: 30%;
    --tab-title-height: 2rem;
    --message-input-height: 2.5rem;
}

#chat{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--tab-width);
    border-right: 3px ridge white;
}

    #messages{
        position: absolute;
        top: var(--tab-title-height);
        left: 0;
        right: 0;
        bottom: var(--message-input-height);
        overflow-y: auto;
    }

        .system-message{
            text-align: center;
            border: 3px ridge white;
            width: 80%;
            margin: 0.5rem auto;
            padding: 0.25rem;
            font-size: 1.25rem;
            border-radius: 10px;
            background: black;
        }

        .message-sender-container{
            margin: 0.5rem;
        }

            .own-message{
                text-align: right;
            }

           .message-wrapper{
                display: inline-block;
           }

            .sender-name{
                border: 2px solid white;
                display: inline-block;
                border-bottom: none;
                padding: 0.25rem;
                font-size: 1.25rem;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background: black;
            }

            .message-list{
                border: 2px solid white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .own-message .message-list{
                border-top-left-radius: 10px;
            }

            .not-own-message.message-list{
                border-top-right-radius: 10px;
            }

                .chat-message{
                    background: black;
                    padding: 0.25rem;
                }

                .chat-message:not(:last-child){
                    border-bottom: 1px solid white;
                }

                .chat-message:last-child{
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                .own-message .chat-message:first-child{
                    border-top-left-radius: 10px;
                }

                .not-own-message.chat-message:first-child{
                    border-top-right-radius: 10px;
                }

    #message-input-container{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: var(--message-input-height);
        border-top: 2px ridge white;
        text-align: center;
    }

        #message-input{
            width: 90%;
        }

#settings{
    position: absolute;
    top: 0;
    right: var(--tab-width);
    left: var(--tab-width);
    bottom: 0;
}

    #settings-container{
        position: absolute;
        top: var(--tab-title-height);
        left: 0;
        right: 0;
        bottom: 0;
    }

#friends{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--tab-width);
    border-left: 3px ridge white;
}

    #friends-list{
        position: absolute;
        top: var(--tab-title-height);
        left: 0;
        right: 0;
        bottom: 0;
    }

        .friend{
            text-align: center;
            margin: 0.5rem;
            padding: 0.25rem;
            font-size: 1.25rem;
        }

#chat-title, #settings-title, #friends-title{
    text-align: center;
    border-bottom: 2px ridge white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--tab-title-height);
}