:root{
    --main-menu-width: 70%;
}

#main-menu-main{
}

    #main-menu-button-wrapper{
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: var(--main-menu-width);
        padding: 0 1rem;
    }

        #main-menu-button-wrapper .button{
            margin: 1rem;
        }

    #friends{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: calc(100% - var(--main-menu-width));
        border-left: 3px ridge white;
    }

        #friends-title{
            text-align: center;
            border-bottom: 3px ridge white;
        }

        #add-friend-container{
            position: absolute;
            top: 2.25rem;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 2;
            background: rgba(0,0,0,0.5);
        }

            #new-friend-name{
                width: 90%;
            }

                #new-friend-search-result-wrapper{
                    display: none;
                    background-color: black;
                }

                    #no-character-found{
                        display: none;
                        font-size: 1.5rem;
                    }

                    #query-string-too-short{
                        display: none;
                        font-size: 1.5rem;
                    }

                    #new-friend-search-result{

                    }

        #friends-container{
            position: absolute;
            top: 4.4rem;
            left: 0;
            right: 0;
            bottom: 0;
        }

            .friend-list-title{
                text-align: center;
                font-size: 1.5rem;
            }

            #friend-list .friend-list-item{
                border-color: green;
            }

            .friend-list-item, .no-friend-list-item{
                border: 1px solid white;
                margin: 0.5rem;
                padding: 0.25rem;
                position: relative;
                font-size: 1.25rem;
            }

                .friend-list-button{
                    position: absolute;
                    right: 0;
                    top: 0;
                }

                button.friend-list-button{
                    border-width: 1px;
                    padding: 0.15rem;
                    font-size: 0.75rem;
                }

                .friend-list-button button{
                    border-width: 1px;
                    padding: 0.15rem;
                    font-size: 0.75rem;
                }

            #incoming-friend-request-list{

            }

            #friend-list{

            }

            #outgoing-friend-request-list{

            }

#lobby-creation .dialog-close-button{
    font-size: 1.75rem;
}

#lobby-creation main{
    text-align: center;
}

    #lobby-creation-main-container{
        display: inline-block;
        margin-top: 20vh;
        border: 3px ridge white;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.7);
        padding: 0;
    }

        #lobby-creation-tab-title{
            text-align: center;
            border-bottom: 3px ridge white;
            padding: 0.25rem;
        }

        #lobby-creation-input-container{
            text-align: right;
            padding: 2rem 2rem 1rem;
        }

            #lobby-creation-input-container label{
                position: relative;
                display: block;
                font-size: 1.5rem;
                margin: 0.5rem;
            }

                #lobby-creation-input-container label input{
                    margin-right: 2rem;
                    font-size: 1.25rem;
                }

            #lobby-creation-input-container .invalid-input{
                top: 0.25rem;
            }

        #create-lobby-button{
            min-width: 10rem;
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }

#invitations{
    position: absolute;
    bottom: 0;
    left: 0;
}

    .invitation{
        margin: 0.5rem;
        border: 3px ridge white;
        border-radius: 10px;
    }

        .invitation-title{
            text-align: center;
            margin: 0.25rem 0;
            border-bottom: 3px ridge white;
            font-size: 1.25rem;
        }

        .invitation-sender-name{
            text-align: center;
            font-size: 1.25rem;
            font-weight: bold;
        }

        .invitation-message{
            margin: 0.25rem 0.5rem;
            text-align: center;
        }

        .invitation-buttons{
            text-align: center;
        }