body{
    background-image: url("/res/skyxplore/images/background.jpg");
}

    .main-page{
        background-color: rgba(0,0,0,0.5);
    }

        .window-close-button{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 1.5rem;
        }

.invalid-input{
    display: none;
    border: 3px outset red;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 3px;
    padding: 0.125rem;
}

.main-tab:not(:first-child){
    display: none;
}