#skyxplore-game-solar-system-header {
    position: relative;
}

#skyxplore-game-solar-system-close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 26px;
}

#skyxplore-game-solar-system-name-edit-button {
    background-image: url("../../../../../../common/style/img/edit.png");
    background-size: cover;
    width: 35px;
    height: 35px;
}

#skyxplore-game-solar-system-name-edit-input {
    font-size: 26px;
}

#skyxplore-game-solar-system-name-save-button {
    background-image: url("../../../../../../common/style/img/save.png");
    background-size: cover;
    width: 43px;
    height: 43px;
    color: transparent;
    font-size: 26px;
}

#skyxplore-game-solar-system-name-discard-button {
    font-size: 26px;
}