body{
    background-image: url("/res/skyxplore/images/background.jpg");
}

    .main-page{
        background-color: rgba(0,0,0,0.5);
    }

        .window-close-button{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 1.5rem;
        }

.invalid-input{
    display: none;
    border: 3px outset red;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 3px;
    padding: 0.125rem;
}

.main-tab:not(:first-child){
    display: none;
}

.dialog-close-button{
    position: absolute;
    right: 0;
    top: 0;
}

.zoom-content-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.zoom-button-container{
    position: absolute;
    top: 0;
    left: 0;
}

    .zoom-in-button, .zoom-out-button{
        background-color: transparent;
        border-width: 3px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-size: cover;
    }

    .zoom-in-button{
        background-image: url("/res/common/images/zoom_in.png");
    }

    .zoom-out-button{
        background-image: url("/res/common/images/zoom_out.png");
    }