#notebook {
    border: none;
}

#notebook-main {
    display: flex;
    flex-direction: row;
    padding: 0;
}

#notebook-nav-bar {
    display: flex;
    flex-direction: column;
    border-right: 3px ridge white;
    overflow: auto;
    min-width: 150px;
}

#notebook-category-tree {
    border-bottom: 2px ridge white;
}

#notebook-pinned-items {}

.notebook-content {
    flex-grow: 1;
    overflow: auto;
}

.notebook-close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}