#elite-base-ct-trade-commodities-search-button-wrapper {
    text-align: center;
}

#elite-base-ct-trade-commodities-order-buttons-wrapper {
    text-align: center;
}

#elite-base-ct-trade-commodities-search-result-table td{
    white-space: nowrap;
}