<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<DIV id="contents" th:fragment="contents">
    <DIV th:replace="/notebook/fragment/content/category_content.html :: category-content"></DIV>
    <DIV th:replace="/notebook/fragment/content/create_category.html :: create-category"></DIV>
    <DIV th:replace="/notebook/fragment/content/create_only_title.html :: create-only-title"></DIV>
    <DIV th:replace="/notebook/fragment/content/create_text.html :: create-text"></DIV>
    <DIV th:replace="/notebook/fragment/content/create_checklist.html :: create-checklist"></DIV>
    <DIV th:replace="/notebook/fragment/content/create_table.html :: create-table"></DIV>
    <DIV th:replace="/notebook/fragment/content/create_checklist_table.html :: create-checklist-table"></DIV>
    <DIV th:replace="/notebook/fragment/content/create_link.html :: create-link"></DIV>
    <DIV th:replace="/notebook/fragment/content/create_image.html :: create-image"></DIV>
    <DIV th:replace="/notebook/fragment/content/create_file.html :: create-file"></DIV>

    <DIV th:replace="/notebook/fragment/content/view_text.html :: view-text"></DIV>
    <DIV th:replace="/notebook/fragment/content/view_checklist.html :: view-checklist"></DIV>
    <DIV th:replace="/notebook/fragment/content/view_image.html :: view-image"></DIV>
    <DIV th:replace="/notebook/fragment/content/view_file.html :: view-file"></DIV>
    <DIV th:replace="/notebook/fragment/content/view_table.html :: view-table"></DIV>
    <DIV th:replace="/notebook/fragment/content/view_checklist_table.html :: view-checklist-table"></DIV>

    <DIV th:replace="/notebook/fragment/content/edit_list_item.html :: edit-list-item"></DIV>
</DIV>

</BODY>
</HTML>