<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<FOOTER th:fragment="footer">
    <BUTTON id="back-button" onclick='window.location = "/web/modules"'></BUTTON>

    <DIV th:replace="/notebook/fragment/footer/create_buttons.html :: create-buttons"></DIV>

    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: create-category-buttons"></DIV>
    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: create-only-title-buttons"></DIV>
    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: create-text-buttons"></DIV>
    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: create-checklist-buttons"></DIV>
    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: create-table-buttons"></DIV>
    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: create-checklist-table-buttons"></DIV>
    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: create-link-buttons"></DIV>
    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: create-image-buttons"></DIV>

    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: view-text-buttons"></DIV>
    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: view-checklist-buttons"></DIV>
    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: view-table-buttons"></DIV>
    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: view-checklist-table-buttons"></DIV>
    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: view-image-buttons"></DIV>

    <DIV th:replace="/notebook/fragment/footer/content_buttons.html :: edit-list-item-buttons"></DIV>
</FOOTER>

</BODY>
</HTML>