#chat-button{
    background-image: url(/res/common/images/chat.png);
    background-size: cover;
    width: 2.25rem;
    height: 2.25rem;
    float: right;
}
    .new-message{
        border-color: red;
    }

#chat{
    display: none;
    position: fixed;
    bottom: 0;
    right: 5px;
    min-width: 25vw;
    max-width: 50vw;
    background: black;
    max-height: calc(100% - var(--header-height) - var(--footer-height) - 10px);
    bottom: calc(var(--footer-height) + 5px);
    border: 3px ridge white;
    border-bottom: none;
    border-right: none;
}

    #chat-rooms-container{
        border-bottom: 3px ridge white;
        overflow-x: scroll;
        white-space: nowrap;
    }

        .chat-button{
            font-size: 0.65rem;
            border-width: 1px;
            margin: 0.15rem;
        }

        .active-room-button{
            border-color: lightgreen;
        }

            .chat-notification{
                display: none;
                color: red;
            }

            .chat-leave-button{
                border-width: 1px;
                font-size: 0.5rem;
                margin: 0;
                margin-left: 0.25rem;
                padding: 0;
                padding: 0.05rem;
            }

    #chat-message-containers{

    }

        .chat-message-container{
            min-width: 100px;
            min-height: 100px;
            overflow-y: auto;
            max-height: 75vh;
        }

            .system-message{
                text-align: center;
                border: 1px ridge white;
                width: 80%;
                margin: 0.5rem auto;
                padding: 0.25rem;
                border-radius: 10px;
                background: black;
            }

            .message-sender-container{
                margin: 0.5rem;
            }

                .message-sender-container.not-own-message{
                    margin-right: 5rem;
                }

                .message-sender-container.own-message{
                    margin-left: 5rem;
                }

                .own-message{
                    text-align: right;
                }

               .message-wrapper{
                    display: inline-block;
               }

                .sender-name{
                    border: 2px solid white;
                    display: inline-block;
                    border-bottom: none;
                    padding: 0.25rem;
                    font-size: 1.25rem;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    background: black;
                }

                .message-list{
                    border: 2px solid white;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                .own-message .message-list{
                    border-top-left-radius: 10px;
                }

                .not-own-message.message-list{
                    border-top-right-radius: 10px;
                }

                    .chat-message{
                        background: black;
                        padding: 0.25rem;
                    }

                    .chat-message:not(:last-child){
                        border-bottom: 1px solid white;
                    }

                    .chat-message:last-child{
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }

                    .own-message .chat-message:first-child{
                        border-top-left-radius: 10px;
                    }

                    .not-own-message.chat-message:first-child{
                        border-top-right-radius: 10px;
                    }

    #send-message-input-container{
        border-top: 3px ridge white;
        text-align: center;
    }

        #send-message-input{
            width: 90%;
        }

#create-chat-room-title-input-container{
    text-align: center;
    margin: 1rem;
}

    create-chat-room-title-label{
        position: relative;
    }

        #create-chat-room-title-input{
            width: 80%;
        }

        #invalid-title{
            top: -0.25rem;
        }

    #create-chat-room-no-players{
        text-align: center;
        font-size: 2rem;
    }

    .create-chat-room-player{
        display: block;
        margin: 1rem;
        text-align: left;
    }