.main-page.backgrounded{
    background-image: url("/res/skyxplore/images/background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

    .main-page.backgrounded main{
        background-color: rgba(0,0,0,0.5);
    }

.progress-bar-container{
    position: relative;
    height: 1.5rem;
    border-radius: 3px;
}

    .progress-bar-background{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: green;
    }

    .progress-bar-background.full-progress-bar{
        background: red;
    }

    .progress-bar-text{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1.25rem;
    }

#resume-game-button{
    border-color: yellow;
}