#map-container{
    border: 3px ridge white;
    margin: 1rem;
}

    .map-solar-system-name-element{
        fill: cyan;
        font-size: 1.5rem;
        font-weight: 700;
        stroke: #0073e6;
        stroke-width: 1px;
    }