#skyxplore-game-solar-system-svg {
    min-width: 100%;
}

#skyxplore-game-solar-system-edge {
    fill: transparent;
    stroke: white;
    stroke-width: 10px;
}

#skyxplore-game-solar-system-star {
    fill: yellow;
}

.skyxplore-game-solar-system-planet:hover{
    stroke: blue;
    stroke-width: 3px;
}

.skyxplore-game-solar-system-planet-name{
    fill: cyan;
    font-size: 20px;
    font-weight: 700;
    stroke: #0073e6;
    stroke-width: 1px;
}