.villany-atesz-toolbox-new-fieldset-wrapper {
    margin: 10px;
}

.villany-atesz-toolbox-new-fieldset-wrapper fieldset label {
    display: block;
    text-align: center;
}

#villany-atesz-toolbox-new{
    text-align: center;
}

#villany-atesz-toolbox-new fieldset{
    display: inline;
}