<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <META charset="UTF-8">

    <LINK rel="stylesheet" href="/res/common/css/reset.css">
    <LINK rel="stylesheet" href="/res/common/css/common.css">
    <LINK rel="stylesheet" href="/res/training/css/training_common.css">

    <SCRIPT src="/res/common/js/jquery.js"></SCRIPT>
    <SCRIPT src="/res/common/js/common_base.js"></SCRIPT>
    <SCRIPT src="/res/training/js/javascript/ajax.js"></SCRIPT>
    <SCRIPT>eventProcessor.processEvent(new Event(events.LOCALIZATION_LOADED));</SCRIPT>

    <TITLE>AJAX - JavaScript - Oktatás - Apphub</TITLE>
</HEAD>
<BODY>
<DIV id="main" class="main-page">
    <HEADER>
        <H1 id="main-title">JavaScript - AJAX</H1>
    </HEADER>

    <NAV th:replace="/menu/javascript.html :: menu"></NAV>

    <MAIN>
        <ARTICLE>
            <H2>Mi az az AJAX?</H2>

            <DIV>Ha a JSON a kommunikáció nyelve, akkor az AJAX a "száj", ami elmondja a kiszolgálónak, hogy mit szeretnénk csinálni az adattal.</DIV>
            <DIV>Az AJAX alkalmas arra, hogy kommunikáljunk a kiszolgálóval, adatot küldjünk és fogadjunk a böngészőből.</DIV>
            <DIV>Az AJAX valójában JavaScript objektum(ok) és metódusok, egy interfész ami lehetőséget biztosít a JavaScript számára a kiszolgálóval törénő kommunikációra.</DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>De hogyan?</H2>

            <DIV>
                Az AJAX HTTP kérelmeket küld a kiszolgálónak, és a kiszolgáló ezekre a kérelmekre válaszol.

                <OL>
                    <LI>A JavaScript kódunk össze gyűjti a kérelemhez szükséges adatokat</LI>
                    <LI>Az AJAX HTTP kérelemmé alakítja az adatokat, majd elküldi a kiszolgálónak</LI>
                    <LI>A kiszolgáló feldolgozza kapott adatokat, majd visszaküldi az eredményt</LI>
                    <LI>Az AJAX továbbítja az eredményt a saját JavaScript kódunknak</LI>
                </OL>
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>A HTTP kérelem</H2>

            <DIV>Egy HTTP kérelemnek két fő része van: A kérdés és a válasz.</DIV>

            <DIV>
                A kérdés részei:

                <UL>
                    <LI>
                        URL - Ezzel mondjuk meg, hogy hova szeretnénk küldeni a kérdést tartalmazó "levelet" Ennek részei:
                        <OL>
                            <LI>Protokoll - Megadja, hogy milyen módon szeretnénk küldeni a kérelmünket. Csak itt a légiposta / postagalamb / egyebek helyett választhatunk többek közt a http, ws, ftp közül</LI>
                            <LI>Host/Domain - A kiszolgáló címe. Például a "google.com" a Google kiszolgáló számítógépeinek valamelyikére fog befutni</LI>
                            <LI>Útvonal - A kiszolgáló által biztosított erőforrások közül melyiket szeretnénk elérni?</LI>
                            <LI>Paraméterek - Az általunk küldött adatok "?param1=ertek1&param2=ertek2" formátumban.</LI>
                        </OL>
                    </LI>
                    <LI>
                        Metódus - Egy erőforrást többféle metódussal is el lehet érni, attól függően, hogy mit szeretnénk vele csinálni:
                        <UL>
                            <LI>GET - Erőforrás lekérdezése</LI>
                            <LI>PUT - Erőforrás létrehozása</LI>
                            <LI>POST - Erőforrás módosítása</LI>
                            <LI>DELETE - Erőforrás törlése</LI>
                        </UL>
                        Megjegyzés: A kiszolgáló maga dönti el, hogy az egyes metódusokra milyen műveletet hajt végre. Egy GET kérelemmel is lehet létrehozni erőforrásokat, ahogy a PUT-tal is törölhetjük őket.
                        Viszont egyszerűbb a különböző műveletekhez tartozó metódust használni, mint észben tartani, hogy melyik URL-hez melyik metódus mit csinál.
                    </LI>
                    <LI>
                        Fejléc - Extra adatok, amik segítenek a kérelem feldolgozásában. Itt adhatjuk meg többek között, hogy milyen formátumban küldtünk adatokat, milyen formátumban szeretnénk az elkért erőforrást visszakapni, de itt utaznak például a sütik is.
                    </LI>
                    <LI>Törzs - A kérelem fő tartalma. (Például ha egy új személyt szeretnénk létrehozni, akkor ide fog kerülni a személy neve, életkora, stb)</LI>
                </UL>
            </DIV>

            <DIV>
                A válasz részei:
                <UL>
                    <LI>
                        Státusz kód: Egy 3 jegyű szám, ami általános információt ad a kérelem teljesítésének eredményéről.
                        Ezeknek több kategóriája létezik:
                        <UL>
                            <LI>1xx (100-199) - A kérelem feldolgozása folyamatban</LI>
                            <LI>2xx (200-299) - A kérelem sikeres</LI>
                            <LI>3xx (300-399) - Átirányítás</LI>
                            <LI>4xx (400-499) - Kliens hiba, a kérelem feldolgozása nem lehetséges (például helytelen adatok)</LI>
                            <LI>5xx (500-599) - Kiszolgáló hiba, a kiszolgáló nem működik megfelelően</LI>
                        </UL>

                        A részletes kódok és leírások megtekinthetőek <A href="https://hu.wikipedia.org/wiki/HTTP-%C3%A1llapotk%C3%B3dok" target="_blank">itt</A>.
                    </LI>
                    <LI>Fejléc - Ahogy a kliens, úgy a kiszolgáló is meg tud adni bizonyos adatokat, amik extra információt tartalmaznak a válaszról (például a válasz típusa, átirányítás címe, süti létrehozása, stb)</LI>
                    <LI>Törzs - A válasz fő tartalma. (Például ha egy személy adatait szeretnénk elkérni, akkor ide fogg kerülni a személy neve, életkora, stb)</LI>
                </UL>
            </DIV>

            <DIV><U>Fontos</U>: Szabvány szerint a GET kérelmeknek nem lehet kérelem törzse.</DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Az AJAX kérelem típusai</H2>

            <DIV>Csak hogy még nehezebb legyen a dolgunk, magának az AJAX-nak is két módja van: szinkron, és aszinkron.</DIV>
            <DIV>
                Szinkron lekérésnél a kód lineárisan fut, és a futás meg fog állni addig, amíg a válasz meg nem érkezik a kiszolgálótól.
                Ez a megoldás egyszerűbb, viszont a várakozás negatívan befolyásolja az oldal folytonosságát
            </DIV>
            <DIV>
                Aszinkron lekérésnél a kód a kérelem elküldése után tovább fut, és a válasz megérkeztekor fog meghívódni a válasz feldolgozására beállított funkció.
                Ez a megoldás egy kicsit bonyolultabb, viszont mivel a kód futása nem áll meg, a felhasználó sokkal folytonosabbnak érzi a weboldalt.
                Ezen felül a böngésző képes egyszerre több kérelmet is kezelni, tehát nem kell egymásra várniuk a különböző kérelmeknek.
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Megjegyzés</H2>

            <DIV>A kérelem kiszolgálásához egy kiszolgáló program futtatása szükséges, ami nem része ennek a könyvnek, így saját magad nem fogod tudni kipróbálni a tanultakat.</DIV>
            <DIV>De ne csüggedj! A következő könyv a PHP-ról fog szólni, aminek a segítségével el fogjuk tudni indítani első saját kiszolgálónkat, úgyhogy nem fog kárba veszni az itt megszerzett tudás.</DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>A szinkron AJAX kérelem</H2>

            <DIV>
                A lépések:
                <OL>
                    <LI><CODE>const request = new XMLHttpRequest();</CODE> - Új kérelmet az <CODE>XMLHttpRequest</CODE> típus példányosításával tudunk létrehozni.</LI>
                    <LI><CODE>request.open("method", "url", false);</CODE> - Megadjuk a metódust, az URL-t, és hogy aszinkron ("true") vagy szinkron ("false") módban szeretnénk-e elküldeni a kérelmet.
                    </LI>
                    <LI>
                        <CODE>request.setRequestHeader("Content-Type", "application/json");</CODE> - Fejléc elemek beállítása. Jelen esetben azt mondjuk meg a kiszolgálónak, hogy JSON formátumban fogjuk küldeni a kérelem törzsét.
                    </LI>
                    <LI><CODE>request.send("json");</CODE> - A <CODE>send</CODE> metódusnak paraméterben átadjuk a kérelem törzsét, és ez a metódus el is küldi magát a kérelmet.</LI>
                    <LI>A válasz állapotkódját a <CODE>request.status</CODE> tulajdonsággal érjük el.</LI>
                    <LI>A válasz törzsét a <CODE>request.responseText</CODE> tulajonsággal érjük el.</LI>
                </OL>
            </DIV>

            <DIV>
                Példa:
                <UL>
                    <LI>
                        HTML kód:
                        <PRE th:replace="/example/javascript/ajax.html :: sync_ajax_html"></PRE>
                    </LI>
                    <LI>
                        JavaScript kód:
                        <PRE th:replace="/example/javascript/ajax.html :: sync_ajax_js"></PRE>
                    </LI>
                </UL>
                Eredmény:
                <BUTTON onclick="syncRequest()">Nyomj meg!</BUTTON>
                <DIV id="sync_result"></DIV>
            </DIV>

            <DIV>Jól látható, hogy amíg a kérelem feldolgozás alatt áll, a böngésző várakozik, és a felület is megakad.</DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Az aszinkron AJAX kérelem</H2>

            <DIV>
                A lépések:
                <OL>
                    <LI><CODE>const request = new XMLHttpRequest();</CODE> - Új kérelmet az <CODE>XMLHttpRequest</CODE> típus példányosításával tudunk létrehozni.</LI>
                    <LI><CODE>request.open("method", "url", true);</CODE> - Megadjuk a metódust, az URL-t, és hogy aszinkron ("true") vagy szinkron ("false") módban szeretnénk-e elküldeni a kérelmet.
                    </LI>
                    <LI>
                        <CODE>request.setRequestHeader("Content-Type", "application/json");</CODE> - Fejléc elemek beállítása. Jelen esetben azt mondjuk meg a kiszolgálónak, hogy JSON formátumban fogjuk küldeni a kérelem törzsét.
                    </LI>
                    <LI><CODE>request.onload = function(){};</CODE> - A válasz feldolgozó funkciójának megadása</LI>
                    <LI><CODE>request.send("json");</CODE> - A <CODE>send</CODE> metódusnak paraméterben átadjuk a kérelem törzsét, és ez a metódus el is küldi magát a kérelmet.</LI>
                </OL>
            </DIV>

            <DIV>
                Példa:
                <UL>
                    <LI>
                        HTML kód:
                        <PRE th:replace="/example/javascript/ajax.html :: async_ajax_html"></PRE>
                    </LI>
                    <LI>
                        JavaScript kód:
                        <PRE th:replace="/example/javascript/ajax.html :: async_ajax_js"></PRE>
                    </LI>
                </UL>
                Eredmény:
                <BUTTON onclick="asyncRequest()">Nyomj meg!</BUTTON>
                <DIV id="async_result"></DIV>
            </DIV>

            <DIV>Ebben az esetben a böngésző nem akad meg.</DIV>
        </ARTICLE>

        <ARTICLE>
            <DIV>A böngésző által küldött kérelmek adatait a DevTools "Network" füle alatt lehet megtekinteni.</DIV>
        </ARTICLE>
    </MAIN>

    <FOOTER>
        <BUTTON onclick="window.location.href = '/web/training/javascript/010_json'">Előző</BUTTON>
        <BUTTON onclick="window.location.href = '/web/modules'">Kezdőlap</BUTTON>
    </FOOTER>
</DIV>
</BODY>
</HTML>