.close-dialog-button{
    position: absolute;
    top: 0;
    right: 0.25rem;
    font-size: 1.75rem;
}

.list-item{
    text-align: left;
    position: relative;
}

    .list-item-button-wrapper{
        position: absolute;
        top: 0;
        right: 0;
    }

        .list-item-button-wrapper button{
            margin: 0.125rem;
            padding: 0.125rem;
            border-width: 1px;
            font-size: 0.7rem;
        }

.invalid-input{
    display: none;
    border: 3px outset red;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 3px;
    padding: 0.125rem;
}

#main main{
    display: grid;
    grid-template-columns: 35% 35% 30%;
    padding: 0;
}

    .tab{
        display: grid;
        grid-template-rows: 2.25rem auto;
    }

        .tab h2{
            border-bottom: 1px solid white;
            text-align: center;
        }