<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<SPAN id="category-content-buttons" class="button-wrapper" th:fragment="create-buttons">
    <DIV id="new-button-wrapper">
        <DIV id="new-buttons">
            <DIV id="new-category-button" class="button" onclick="categoryCreationController.openCreateCategoryDialog()"></DIV>
            <DIV id="new-only-title-button" class="button" onclick="onlyTitleCreationController.openCreateOnlyTitleDialog()"></DIV>
            <DIV id="new-link-button" class="button" onclick="linkCreationController.openCreateLinkDialog()"></DIV>
            <DIV id="new-text-button" class="button" onclick="textCreationController.openCreateTextDialog()"></DIV>
            <DIV id="new-checklist-button" class="button" onclick="checklistCreationController.openCreateChecklistDialog()"></DIV>
            <DIV id="new-table-button" class="button" onclick="tableCreationController.openCreateTableDialog()"></DIV>
            <DIV id="new-checklist-table-button" class="button" onclick="checklistTableCreationController.openCreateChecklistTableDialog()"></DIV>
            <DIV id="new-custom-table-button" class="button" onclick="customTableCreationController.openCreateCustomTableDialog()"></DIV>
            <DIV id="new-image-button" class="button" onclick="imageCreationController.openCreateImageDialog()"></DIV>
            <DIV id="new-file-button" class="button" onclick="fileCreationController.openCreateFileDialog()"></DIV>
        </DIV>

        <DIV id="new-button" class="button"></DIV>
    </DIV>
</SPAN>


</BODY>
</HTML>