#monitoring main {
    display: flex;
    flex-direction: column;
}

#monitoring-boards {
    flex-grow: 2;
    overflow: auto;
    text-align: center;
}

.monitoring-diagram {
    display: inline-block;
    border: 3px ridge white;
    margin: 10px;
    text-align: left;
}

.monitoring-diagram legend {
    text-align: left;
    padding: 0 10px;
}

.monitoring-svg-diagram {
    border: 3px ridge white;
    margin: 10px;
    height: 210px;
}

.monitoring-svg-diagram-item {
    fill: none;
    stroke-width: 1px;
}