spring:
  profiles:
    active: postgres
  datasource:
    username: postgres
    password: postgres
    url: jdbc:postgresql://localhost:5432/apphub_integration
    driverClassName: org.postgresql.Driver
    hikari:
      maximumPoolSize: 3
      minimumIdle: 1
  jpa:
    properties:
      hibernate:
        default_schema: public
        jdbc:
          lob:
            non_contextual_creation: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8072

liquibase:
  schema: public
  changelog:
    location: classpath:changelog.xml

cleanup:
  expirationDays: 90