<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <META charset="UTF-8">

    <LINK rel="stylesheet" href="/res/common/css/reset.css">
    <LINK rel="stylesheet" href="/res/common/css/common.css">
    <LINK rel="stylesheet" href="/res/training/css/training_common.css">

    <SCRIPT src="/res/common/js/jquery.js"></SCRIPT>
    <SCRIPT src="/res/common/js/common_base.js"></SCRIPT>
    <SCRIPT>eventProcessor.processEvent(new Event(events.LOCALIZATION_LOADED));</SCRIPT>

    <TITLE>Gyűjtemények - A programozás alapja - Oktatás - Apphub</TITLE>
</HEAD>
<BODY>
<DIV id="main" class="main-page">
    <HEADER>
        <H1 id="main-title">A programozás alapja - Gyűjtemények</H1>
    </HEADER>

    <NAV th:replace="/menu/basics_of_programming.html :: menu"></NAV>

    <MAIN>
        <ARTICLE>
            <H2>Mik azok a gyűjtemények, és miért van rájuk szükség?</H2>

            <DIV>Képzeljünk el egy metódust, aminek az a feladata, hogy össze adjon két számot:</DIV>
            <PRE th:replace="/example/basics_of_programming/collections.html :: sum_of_2_numbers"></PRE>
            <DIV>Eddig minden szép és jó. Akkor most képzeljünk el egy olyan metódust, aminek az a feladata, hogy össze adjon 20 számot:</DIV>
            <PRE th:replace="/example/basics_of_programming/collections.html :: sum_of_20_numbers"></PRE>
            <DIV>Ennyire sok paraméterre már csak gondolni is fárasztó. És akkor ne is beszéljünk arról, hogy mi van, ha nem tudjuk, hogy konkrétan hány számot szeretnénk össze adni.</DIV>

            <DIV>Az ilyen esetekben (is) hasznos az adott programozási nyelvek által biztosított gyűjtemények használata.</DIV>
            <DIV>A gyűjtemények olyan adattípusok, amelyek egyszerre több értéket is tárolnak.</DIV>
            <DIV>A legelterjedtebbek: Tömb (array), Több dimenziós tömb (Multi-dimensional array), Lista (List), Tábla (Map, Dictionary)</DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>A tömb (array)</H2>

            <DIV>A tömböket úgy lehet elképzelni, mint egy polcos szekrényt, minden polcán egy dobozzal, ahol minden dobozra rá van írva, hogy az a szekrény hanyadik polcán helyezkedik el.</DIV>
            <DIV>A tömb számokkal indexelt (azonosított) értékek gyűjteménye, melyben az első elem indexe 0, a másodiké 1, a harmadiké 2, így tovább.</DIV>

            <DIV>
                Tömböt több különböző módon is létre lehet hozni, és ezek programozási nyelvekként eltérőek is lehetnek. Íme néhény példa:
                <UL>
                    <LI>PHP: <CODE>$tomb = array();</CODE> vagy <CODE>$tomb = [];</CODE></LI>
                    <LI>JavaScript: <CODE>var tomb = [];</CODE></LI>
                    <LI>PHP: <CODE>$tomb = array("ertek1", "ertek2", "ertek3", ...)</CODE> - A tömb létrehozásakor az <CODE>array</CODE> metódusnak megadott értékeket már bele is teszi a tömbbe</LI>
                    <LI>PHP: <CODE>$tomb = ["ertek1", "ertek2", "ertek3", ...]</CODE> - A tömb létrehozásakor a "[]"-k között megadott értékeket már bele is teszi a tömbbe</LI>
                    <LI>JavaScript: <CODE>var tomb = ["ertek1", "ertek2", "ertek3", ...]</CODE> - A tömb létrehozásakor a "[]"-k között megadott értékeket már bele is teszi a tömbbe</LI>
                    <LI>Java: <CODE>String[] tomb = new String[3]</CODE> - "3" a tömb mérete. Javaban egy tömbnek meghatározott mérete van, aminél nem lehet több értéket bele rakni.</LI>
                    <LI>Java:
                        <CODE>String[] tomb = new String[]{"ertek1", "ertek2", "ertek3", ...}</CODE> - A tömb létrehozásakor a "{}"-k közt megadott értékeket már bele is teszi a tömbbe. (A tömb mérete a belerakott értékek száma lesz)
                    </LI>
                </UL>
            </DIV>

            <DIV>
                Értéket programozási nyelvtől függően, többféleképpen is rakhatunk bele a tömbbe:
                <UL>
                    <LI>PHP: <CODE>$tomb[1] = "ertek";</CODE> - Új érték beszúrása az 1-es indexre (ha már volt megadva érték, akkor felülírja a már meglévőt)</LI>
                    <LI>PHP: <CODE>$tomb[] = "ertek";</CODE> vagy
                        <CODE>array_push($tomb, "ertek");</CODE> - Új érték beszúrása a következő üres indexre (például ha a legutolsó index, amin van érték az 4, akkor az új elem indexe 5 lesz)
                    </LI>
                    <LI>Java, JavaScript: <CODE>tomb[1] = "ertek";</CODE> - Új érték beszúrása az 1-es indexre (ha már volt megadva érték, akkor felülírja a már meglévőt)</LI>
                    <LI>JavaScript: <CODE>tomb[] = "ertek";</CODE> vagy
                        <CODE>tomb.push("ertek");</CODE>- Új érték beszúrása a következő üres indexre (például ha a legutolsó index, amin van érték az 4, akkor az új elem indexe 5 lesz)
                    </LI>
                </UL>
            </DIV>

            <DIV>
                Értéket a tömbből annak indexével tudunk kiolvasni:
                <CODE>$ertek = $tomb[1];</CODE> - Az "ertek" nevű változóba bele rakjuk a "tomb" nevű tömb 1 indexen helyet foglaló (tehát sorban a második) elemét.
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Több dimenziós tömbök (multi-dimensional array)</H2>

            <DIV>A több dimenziós tömbök olyan tömbök, amik másik tömböt tartalmaznak. (Például egy polcos szekrénysor.)</DIV>
            <DIV>Létrehozása hasonlít az egy dimenziós tömbökéhez, például: <CODE>$tomb = [][]</CODE>.</DIV>
            <DIV>
                Elemet bele rakni vagy kiolvasni az elem két (vagy esetleg 3, 4, ... akárhány) dimenzió indexének megadásával lehet:
                <UL>
                    <LI>Bele rakás: <CODE>$tomb[2][3] = "ertek"</CODE> - A "2" indexű szekrény "3" indexű polcára tedd fel az "ertek" tartalmú dobozt</LI>
                    <LI>Kivétel: <CODE>$ertek = $tomb[2][3]</CODE> - Az "$ertek" változóba tedd bele a "2" indexű szekrény "3" indexű polcán levő doboz tartalmát.</LI>
                </UL>
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Név-érték párok</H2>

            <DIV>A legtöbb programozási nyelv lehetőséget ad név-érték párok gyűjteményének használatára. Ezek gyakorlatilag olyan két dimenziós tömbök, ahol az első dimenzió indexe nem csak szám lehet.</DIV>
            <DIV>Ezek neve programozási nyelvenként változik (JavaScript: object (Objektum), Java: Map, C#: Dictionary (szótár), PHP: assiociative array (asszociatív tömb)), és a használatuk is különböző.</DIV>
            <DIV>De ami mindegyikben közös: Olyan gyűjtemények, ahol a különböző értékeket azok neve alapján érkük el.</DIV>

            <DIV>
                Példák:
                <UL>
                    <LI>
                        PHP:
                        <PRE th:replace="/example/basics_of_programming/collections.html :: associative_array_php"></PRE>
                    </LI>
                    <LI>
                        JavaScript:
                        <PRE th:replace="/example/basics_of_programming/collections.html :: data_object_javascript"></PRE>
                    </LI>
                    <LI>
                        Java:
                        <PRE th:replace="/example/basics_of_programming/collections.html :: map_java"></PRE>
                    </LI>
                </UL>
            </DIV>
        </ARTICLE>
    </MAIN>

    <FOOTER>
        <BUTTON id="previous" onclick="window.location.href = '/web/training/basics_of_programming/005_functions'">Előző</BUTTON>
        <BUTTON id="home" onclick="window.location.href = '/web/modules'">Kezdőlap</BUTTON>
        <BUTTON id="next" onclick="window.location.href = '/web/training/basics_of_programming/007_loops'">Következő</BUTTON>
    </FOOTER>
</DIV>
</BODY>
</HTML>