<HTML xmlns:th="http://www.thymeleaf.org">
<BODY>

<DIV id="chat-main" class="tab" th:fragment="chat">
    <H2 id="chat-title"></H2>

    <DIV id="chat-content" class="content">
        <DIV id="chat-conversations">
            <DIV id="new-conversation-button-wrapper">
                <DIV id="new-conversation-button" class="button"></DIV>
            </DIV>

            <DIV id="chat-conversations-list"></DIV>
        </DIV>
        <DIV id="chat-conversation-wrapper">
            <DIV id="chat-conversation"></DIV>

            <DIV id="message-input-wrapper">
                <INPUT type="text" id="message-input">
            </DIV>
        </DIV>
    </DIV>
</DIV>

</BODY>
</HTML>