#calendar-edit-occurrence-note {
    width: 100%;
}

#calendar-edit-occurrence-remind-me-before-days {
    width: 48px;
}

#calendar-edit-occurrence-settings input[type="checkbox"] {
    transform: scale(1.5);
}

#calendar-edit-occurrence-settings label {
    display: block;
    margin: 10px 0;
}