#villany-atesz-stock-inventory-items-search {
    display: block;
    width: 90%;
    margin: 5px auto;
    margin-bottom: 10px;
    position: sticky;
    top: 5px;
}

#villany-atesz-stock-inventory-items-table {
    margin: auto;
}

.villany-atesz-stock-inventory-item td {
    text-align: center;
}

.villany-atesz-stock-inventory-item input.scheduled {
    border-color: orange;
}

.villany-atesz-stock-inventory-item-inventoried {
    transform: scale(1.5);
}

.villany-atesz-stock-inventory-item input[type=number] {
    width: 75px;
}