#villany-atesz-stock-inventory-header {
    display: block;
    width: 90%;
    margin: 5px auto;
    margin-bottom: 10px;
    position: sticky;
    top: 5px;
    z-index: 2;
    display: flex;
}

#villany-atesz-stock-inventory-items-search {
    flex-grow: 2;
}

#villany-atesz-stock-inventory-items-table {
    margin: 0px;
}

.villany-atesz-stock-inventory-item td {
    width: 150px;
    height: 30px;
    cursor: pointer;
    text-align: center;
}

.villany-atesz-stock-inventory-item input.scheduled {
    border-color: #FF9800;
    ;
}

.villany-atesz-stock-inventory-item-inventoried,
.villany-atesz-stock-inventory-item-marked-for-acquisition {
    transform: scale(1.5);
}

.villany-atesz-stock-inventory-item input[type=number] {
    width: 50px;
}

.villany-atesz-stokc-inventory-item-name-cell {
    text-align: left !important;
}

.villany-atesz-stock-inventory-item-name {
    min-width: 100%;
    max-width: 400px;

}

.villany-atesz-stock-inventory-item-operations-cell {
    white-space: nowrap;
}