#elite-base-sn-material-trader-search-result {
    margin: 10px;
}

#elite-base-sn-material-trader-search-result table {
    margin: auto;
}

#elite-base-sn-material-trader-search-button-wrapper {
    text-align: center;
}

#elite-base-sn-material-trader-search-button {
    min-width: 200px;
}