:root{
    --planet-left-bar-width: 33rem;
    --planet-right-bar-width: 17rem;
    --surface-table-cell-size: 6vw;
    --min-surface-table-cell-size: 6rem;
    --planet-bar-title-height: 1.85rem;
}

.planet-bar-title{
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 3px ridge white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--planet-bar-title-height);
}

.planet-bar-content{
    position: absolute;
    top: var(--planet-bar-title-height);
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

    .planet-bar-container{
        border: 2px solid white;
        border-radius: 5px;
        margin: 0.5rem;
    }

        .planet-bar-container-header{
            text-align: center;
            border-bottom: 1px solid white;
            font-size: 1.5rem;
        }

    .planet-bar-list-item{
        border: 2px solid green;
        margin: 0.25rem;
        padding: 0.125rem;
        position: relative;
        font-size: 1.25rem;
    }

        .planet-bar-list-item .window-close-button{
            border-width: 1px;
            margin: 0.125rem;
            padding: 0;
            font-weight: bold;
            font-size: 1.125rem;
            width: 1rem;
            height: 1.25rem;
        }

        .planet-bar-list-item table{
            font-size: 1rem;
            margin: auto;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            width: 90%;
        }

            .planet-bar-list-item td, .planet-bar-list-item th{
                border: 1px solid white;
                vertical-align: middle;
                padding: 0.25rem;
            }

            .planet-bar-list-item td{
                text-align: right;
            }

#planet-left-bar{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--planet-left-bar-width);
    border-right: 3px ridge white;
}

    .planet-storage-summary-container{
        height: 1.5rem;
        position: relative;
    }

    .planet-storage-details-container{
        display: none;
    }

        .planet-actual-progress-bar-background{
            background-color: blue;
        }

        .planet-allocated-progress-bar-background{
            background-color: darkblue;
        }

        .planet-reserved-progress-bar-background{
            background-color: purple;
        }

        .planet-storage-progress-bar-text{
            text-align: left;
        }

        .planet-storage-storage-details-item{
            font-size: 1rem;
            margin-top: 0.5rem;
            border-top: 1px solid white;
            padding-top: 0.5rem;
            padding.left: 0.5rem;
        }

    #planet-population-overview-bar-text{
        text-align: center;
    }

#planet-middle-bar{
    position: absolute;
    left: var(--planet-left-bar-width);
    right: var(--planet-right-bar-width);
    top: 0;
    bottom: 0;
    overflow: auto;
}

    #planet-surface-container{
        white-space: nowrap;
        margin: 1rem;
    }

    .surface-table-cell{
        border: 2px outset white;
        width: var(--surface-table-cell-size);
        height: var(--surface-table-cell-size);
        min-width: var(--min-surface-table-cell-size);
        min-height: var(--min-surface-table-cell-size);
        position: relative;
        display: inline-block;
        background-position: center;
        background-size: cover;
    }

    .surface-table-cell:hover{
        border-color: red;
        border-style: inset;
    }

        .surface-type-coal_field{
            background-image: url("/res/skyxplore/images/surface/coal.jpg");
        }

        .surface-type-concrete{
            background-image: url("/res/skyxplore/images/surface/concrete.jpg");
        }

        .surface-type-desert{
            background-image: url("/res/skyxplore/images/surface/desert.jpg");
        }

        .surface-type-forest{
            background-image: url("/res/skyxplore/images/surface/forest.jpg");
        }

        .surface-type-lake{
            background-image: url("/res/skyxplore/images/surface/lake.jpg");
        }

        .surface-type-mountain{
            background-image: url("/res/skyxplore/images/surface/mountain.jpg");
        }

        .surface-type-oil_field{
            background-image: url("/res/skyxplore/images/surface/oil-field.jpg");
        }

        .surface-type-ore_field{
            background-image: url("/res/skyxplore/images/surface/ore-mine.jpg");
        }

        .surface-type-volcano{
            background-image: url("/res/skyxplore/images/surface/vulcan.jpg");
        }

        .surface-content{
            background-color: rgba(0,0,0,0.65);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-position: center;
            background-size: cover;
        }

            .surface-header{
                text-align: center;
                opacity: 0.75;
                background-color: rgb(0,0,0);
                border-bottom: 1px ridge white;
                position: absolute;
                padding: 0.125rem;
                top: 0;
                left: 0;
                right: 0;
                white-space: initial;
            }

            .surface-footer{
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                min-height: 1rem;
            }

                .surface-footer .build-button{
                    width: 2rem;
                    height: 2rem;
                    background-position: center;
                    background-size: cover;
                    background-image: url("/res/skyxplore/images/edit.png");
                }

                .construction-status-container{
                    color: red;
                }

                    .surface-footer-construction-queued{
                        background-color: orange;
                    }

                    .surface-footer-construction-resource-collection{
                        background-color: yellow;
                    }

                    .surface-footer-construction-in-progress{
                        background-color: green;
                    }

            .surface-content .surface-footer{
                background-color: rgb(0,0,0);
                border-top: 1px ridge white;
            }

                .surface-content .surface-footer button{
                    font-size: 0.75rem;
                    margin: 0.125rem;
                    padding: 0.125rem;
                    border-width: 1px;
                }

        .surface-content.building-battery{
            background-image: url("/res/skyxplore/images/building/battery.png");
        }

        .surface-content.building-camp{
            background-image: url("/res/skyxplore/images/building/camp.png");
        }

        .surface-content.building-depot{
            background-image: url("/res/skyxplore/images/building/depot.png");
        }

        .surface-content.building-excavator{
            background-image: url("/res/skyxplore/images/building/excavator.png");
        }

        .surface-content.building-hospital{
            background-image: url("/res/skyxplore/images/building/hospital.png");
        }

        .surface-content.building-house{
            background-image: url("/res/skyxplore/images/building/house.png");
        }

        .surface-content.building-sawmill{
            background-image: url("/res/skyxplore/images/building/sawmill.png");
        }

        .surface-content.building-solar_panel{
            background-image: url("/res/skyxplore/images/building/solar_panel.png");
        }

        .surface-content.building-water_pump{
            background-image: url("/res/skyxplore/images/building/water_pump.png");
        }

        .surface-content.building-water_tower{
            background-image: url("/res/skyxplore/images/building/water_tower.png");
        }

#planet-right-bar{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: var(--planet-right-bar-width);
    border-left: 3px ridge white;
}