#menu{
    position: absolute;
    top: 10vh;
    bottom: 10vh;
    left: 20vw;
    right: 20vw;
}

    .menu-item{
        text-align: center;
        display: block;
        margin: 1rem;
        padding: 0.5rem;
        font-size: 1.5rem;
    }