server:
  port: ${server_port:9000}
  ssl:
    key-alias: apphub
    key-store: classpath:apphub-production.jks
    key-store-type: JKS
    key-password: password

forwardedPort: 8060
host: localhost:${forwardedPort}

management:
  endpoints:
    web:
      base-path: /platform
      path-mapping:
        health: /health
  server:
    port: 8998
    ssl:
      enabled: false

spring:
  profiles:
    active: ${SPRING_ACTIVE_PROFILE:server}
  cloud:
    gateway:
      server:
        webflux:
          routes:
          - id: api
            uri: http://localhost:${forwardedPort}
            predicates:
            - Path=/**
          - id: ws
            uri: ws://localhost:${forwardedPort}
            predicates:
            - Path=/**

hystryx:
  command:
    default:
      timeout:
        enabled: true
      isolation:
        thread:
          timeoutInMilliseconds: 10000