<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.hibernate" level="off"/>
    <logger name="liquibase" level="off"/>
    <logger name="org.springframework" level="off"/>
    <logger name="root" level="error"/>logback.xml
    <logger name="com.github.saphyra" level="info"/>
    <logger name="com.github.saphyra.apphub.lib.error_handler" level="warn"/>
</configuration>