<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <META charset="UTF-8">

    <LINK rel="stylesheet" href="/res/common/css/reset.css">
    <LINK rel="stylesheet" href="/res/common/css/common.css">
    <LINK rel="stylesheet" href="/res/training/css/training_common.css">

    <SCRIPT src="/res/common/js/jquery.js"></SCRIPT>
    <SCRIPT src="/res/common/js/common_base.js"></SCRIPT>
    <SCRIPT>pageLoader.runLoaders()</SCRIPT>

    <TITLE>Hátterek - CSS - Oktatás - Apphub</TITLE>
</HEAD>
<BODY>
<DIV id="main" class="main-page">
    <HEADER>
        <H1 id="main-title">CSS - Hátterek</H1>
    </HEADER>

    <NAV th:replace="/menu/css.html :: menu"></NAV>

    <MAIN>
        <ARTICLE>
            <H2>Háttérszín beálíltása</H2>

            <DIV>A háttér színét a <CODE>background</CODE> vagy a <CODE>background-color</CODE> tulajdonsággal lehet beállítani.</DIV>
            <DIV>
                Például:
                <PRE th:replace="/example/css/backgrounds.html :: example"></PRE>

                (A <CODE>&lt;body></CODE> tag hátterének a színét pirosra állítja.)
            </DIV>

            <DIV><U>Megjegyzés:</U> ha a <CODE>background</CODE> tulajdonsággal állítjuk be a háttér színét, akkor ugyanannak a tagnek nem lehet háttérképet is beállítani.</DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Háttérkép beállítása</H2>

            <DIV>Háttérképet a <CODE>background</CODE> vagy a
                <CODE>background-image</CODE> tulajdonsággal lehet beállítani, csak itt színkód helyett a kép címét kell megadni értéknek:
            </DIV>
            <DIV>
                <PRE th:replace="/example/css/backgrounds.html :: background_image"></PRE>
            </DIV>

            <DIV><U>Megjegyzés:</U> ha a <CODE>background</CODE> tulajdonsággal állítjuk be a háttérképet, akkor ugyanannak a tagnek nem lehet háttérszínt is beállítani.</DIV>
            <DIV>
                Példa:
                <DIV style='width: 250px; height: 250px; background: url("/res/training/img/css/sample_background.jpg"); border: 3px solid red;'></DIV>
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Háttérkép ismétlődésének beállítása</H2>

            <DIV>Ahogy az előző példában is látszódik, ha a háttérkép kisebb, mint a tárolója, akkor addig ismétlődik, amíg ki nem tölti a teret. Ezt az ismétlődést szabályozni lehet, mégpedig a
                <CODE>background-repeat</CODE> tulajdonsággal.
            </DIV>
            <DIV>
                A <CODE>background-repeat</CODE> tulajdonság értékei:
                <UL>
                    <LI><CODE>repeat</CODE>: addig ismétlődik a kép, amíg ki nem tölti a képernyőt (alapértelmezett)</LI>
                    <LI>
                        <CODE>no-repeat</CODE>: a háttérkép nem ismétlődik
                        <DIV style='width: 250px; height: 250px; background: url("/res/training/img/css/sample_background.jpg"); background-repeat: no-repeat; border: 3px solid red;'></DIV>
                    </LI>
                    <LI>
                        <CODE>repeat-x</CODE>: a háttérkép csak vízszintesen ismétlődik
                        <DIV style='width: 250px; height: 250px; background: url("/res/training/img/css/sample_background.jpg"); background-repeat: repeat-x; border: 3px solid red;'></DIV>
                    </LI>
                    <LI>
                        <CODE>repeat-y</CODE>: a háttérkép csak függőlegesen ismétlődik
                        <DIV style='width: 250px; height: 250px; background: url("/res/training/img/css/sample_background.jpg"); background-repeat: repeat-y; border: 3px solid red;'></DIV>
                    </LI>
                    <LI>
                        <CODE>space</CODE>: a háttérkép ismétlődik, de annyi hézag lesz közöttük, hogy a szélső képek ne lógjanak ki a képből
                        <DIV style='width: 250px; height: 250px; background: url("/res/training/img/css/sample_background.jpg"); background-repeat: space; border: 3px solid red;'></DIV>
                    </LI>
                    <LI>
                        <CODE>round</CODE>: a háttérkép ismétlődik, és akkora lesz a kép mérete, hogy a szélső képek ne lógjanak ki a képből
                        <DIV style='width: 250px; height: 250px; background: url("/res/training/img/css/sample_background.jpg"); background-repeat: round; border: 3px solid red;'></DIV>
                    </LI>
                </Ul>
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Háttérkép elhelyezése</H2>

            <DIV>Ha a háttérkép ismétlődését kikapcsoljuk, lehetőségünk van megmondani, hogy a háttérkép a tárolójának melyik részén helyezkedjen el.</DIV>
            <DIV>
                Ezt a <CODE>background-position</CODE> tulajdonsággal állíthatjuk, a következő képpen:

                <UL>
                    <LI>
                        A <CODE>left / center / right</CODE> kulcsszavakkal a vízszintes, a
                        <CODE>top / center / bottom</CODE> kulcsszavakkal pedig a függőleges elhelyezést lehet megadni.<BR>
                        Például a <CODE>background-position: center bottom;</CODE> parancs vízszintesen középre, függőlegesen pedig a tároló aljára helyezi a háttérképet:
                        <DIV style='width: 250px; height: 250px; background: url("/res/training/img/css/sample_background.jpg"); background-repeat: no-repeat; border: 3px solid red; background-position: center bottom;'></DIV>
                    </LI>
                    <LI>
                        A megfelelő méreteket különböző mértékegységekkel is meg lehet adni.<BR>
                        Például a <CODE>background-position: 30px 10%;</CODE> parancs a tároló bal felső sarkától 30 pixellel jobbra, és 10%-nyival lefelé tolja el:
                        <DIV style='width: 250px; height: 250px; background: url("/res/training/img/css/sample_background.jpg"); background-repeat: no-repeat; border: 3px solid red; background-position: 30px 10%;'></DIV>

                    </LI>
                </UL>
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Háttérkép rögzítése</H2>

            <DIV>
                Alapértelmezetten a háttérkép együtt gördül a tartalommal:
                <IFRAME src="/web/training/css/sample/background_attachment_scroll" style='display: block; width: 250px; height: 250px;'></IFRAME>
            </DIV>
            <DIV>
                Ha viszont azt szeretnénk, hogy a háttérkép ne gördüljön, akkor a <CODE>background-attachment</CODE> tulajdonság értékét
                <CODE>fixed</CODE>-re kell állítani:
                <IFRAME src="/web/training/css/sample/background_attachment_fixed" style='display: block; width: 250px; height: 250px;'></IFRAME>
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Háttérkép méretezése</H2>

            <DIV>A háttérkép méretének beállítására szolgál a <CODE>background-size</CODE> tulajdonság.</DIV>
            <DIV>
                Lehetséges értékek:
                <UL>
                    <LI><CODE>auto</CODE>: a lép megőrzi eredeti méretét (alapértelmezett)</LI>
                    <LI>
                        Hossz mértékegységek, például <CODE>background-size: 50px 30%;</CODE>: A kép 50px széles és 30% magas lesz.
                        <DIV style='width: 250px; height: 250px; background: url("/res/training/img/css/sample_background.jpg"); background-size: 50px 30%; border: 3px solid red;'></DIV>
                    </LI>
                    <LI>
                        <CODE>cover</CODE>: a háttérkép kitölti a képernyőt. (A kilógó részt levágja)
                        <DIV style='width: 500px; height: 250px; background: url("/res/training/img/css/sample_background.jpg"); background-size: cover; border: 3px solid red;'></DIV>
                    </LI>
                    <LI>
                        <CODE>contain</CODE>: a háttérképet akkorára méretezi, hogy beleférjen a tárolóba
                        <DIV style='width: 300px; height: 400px; background: url("/res/training/img/css/sample_background.jpg"); background-size: contain; border: 3px solid red;'></DIV>
                    </LI>
                </UL>
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Háttérszín és háttérkép együttes használata</H2>

            <DIV>Adódhatnak olyan helyzetek, amikor a háttérkép nem tölti ki az egész tárolót, és a fennmaradó részt más színűre szeretnénk festeni. Ebben az esetben nem használható a
                <CODE>background</CODE> tulajdonság a háttér beálíltására, mert az csak színt, vagy csak képet támogat.
            </DIV>
            <DIV>Ebben az esetben szükséges a <CODE>background-color</CODE> és <CODE>background-image</CODE> tulajdonságok együttes használata.</DIV>
            <DIV>
                Például:
                <PRE th:replace="/example/css/backgrounds.html :: combined_background"></PRE>
                <DIV style='width: 250px; height: 250px; background-color: blue; background-image: url("/res/training/img/css/sample_background.jpg"); background-repeat: no-repeat; border: 3px solid red;'></DIV>
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Több háttérkép használata</H2>

            <DIV>A CSS lehetőséget nyújt több háttérkép együttes használatára. Ehhez csak az egyes képek címét fel kell sorolni egymás mögött, vesszővel elválasztva. (A sorban legelső két lesz a felhasználóhoz legközelebbi rétegen, a többi a sorrendnek megfelelően egymás alatt)</DIV>

            <DIV>Példa: <CODE>background-image: url(hatter_1.jpg, url(hatter_2.jpg);</CODE></DIV>

            <DIV>Az egyes hátterek tulajdonságai külön-külön állíthatóak, hasonló módon:</DIV>

            <DIV><CODE>background-repeat: repeat, no-repeat</CODE></DIV>

            <DIV>A felsorolt értékek a sorrendben velük egyező helyen levő háttérképre fognak érvényesülni.</DIV>
        </ARTICLE>
    </MAIN>

    <FOOTER>
        <BUTTON id="previous" onclick="window.location.href = '/web/training/css/003_colors'">Előző</BUTTON>
        <BUTTON id="home" onclick="window.location.href = '/web/modules'">Kezdőlap</BUTTON>
        <BUTTON id="next" onclick="window.location.href = '/web/training/css/005_borders'">Következő</BUTTON>
    </FOOTER>
</DIV>
</BODY>
</HTML>