<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <META charset="UTF-8">

    <LINK rel="stylesheet" href="/res/common/css/reset.css">
    <LINK rel="stylesheet" href="/res/common/css/common.css">
    <LINK rel="stylesheet" href="/res/training/css/training_common.css">

    <SCRIPT src="/res/common/js/jquery.js"></SCRIPT>
    <SCRIPT src="/res/common/js/common_base.js"></SCRIPT>
    <SCRIPT>eventProcessor.processEvent(new Event(events.LOCALIZATION_LOADED));</SCRIPT>

    <TITLE>Margók - CSS - Oktatás - Apphub</TITLE>
</HEAD>
<BODY>
<DIV id="main" class="main-page">
    <HEADER>
        <H1 id="main-title">CSS - Margók</H1>
    </HEADER>

    <NAV th:replace="/menu/css.html :: menu"></NAV>

    <MAIN>
        <ARTICLE>
            <H2>Mire jók a margók?</H2>

            <DIV>Margók beállításával a tárolóink egymáshoz képesti helyzetét tudjuk meghatározni.</DIV>

            <DIV>
                Például vegyünk egy nagy dobozt, amibe bele rakunk egy kisebbet úgy, hogy annak egy meghatározott távolságra kell lennie a nagy doboz sarkától. Ezt a távolságot adja meg a margó:<BR>

                <CODE>margin: 20px;</CODE>: Egy 20 px széles területet foglal le a tároló körül.

                <PRE th:replace="/example/css/margins.html :: example"></PRE>

                <DIV style='background: red; width: 250px; height: 250px;'>
                    Tároló
                    <DIV style='background: green; margin: 20px;'>Doboz margóval</DIV>
                    <DIV style='background: orange;'>Margó nélküli doboz</DIV>
                </DIV>
            </DIV>

            <DIV>Ahogy a példában látható, a margóval ellátott doboz körül létrejött egy 20 pixel vastag üres tér.</DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Oldalanként különböző margó megadása</H2>

            <DIV>Természetesen a CSS megengedi, hogy minden oldalra külön margót állítsunk be, vagy csak adott oldalaknak adjunk meg értéket.</DIV>
            <DIV>
                Első lehetőséget szintén a
                <CODE>margin</CODE> tulajdonsággal érhetjük el, csak ebben az esetben 4 értéket kell megadni neki. (Felső, jobb oldali, alsó, bal oldali sorrendben)<BR>
                <CODE>margin: 20px 30px 40px 50px;</CODE><BR>

                <DIV style='background: red; display: inline-block;'>
                    Tároló
                    <DIV style='background: green; margin: 20px 30px 40px 50px;'>Doboz margóval</DIV>
                    <DIV style='background: orange; margin: 0;'>Margó nélküli doboz</DIV>
                </DIV>
            </DIV>
            <DIV>
                Ha csak egy adott oldal margóját szeretnénk beállítani, azt a <CODE>margin-top</CODE>, <CODE>margin-right</CODE>,
                <CODE>margin-bottom</CODE> és <CODE>margin-left</CODE> tulajdonságokkal tehetjük meg.<BR>
                Például ha csak a jobb oldali margót szeretnénk állítani, akkor: <CODE>margin-right: 100px;</CODE><BR>

                <DIV style='background: red; display: inline-block;'>
                    Tároló
                    <DIV style='background: green; margin-right: 100px;'>Doboz margóval</DIV>
                    <DIV style='background: orange; margin: 0;'>Margó nélküli doboz</DIV>
                </DIV>
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Tároló középre helyezése</H2>

            <DIV>
                A
                <CODE>margin</CODE> tulajdonság még egy, elég hasznos lehetőséget ad a kezünkbe: egyszerű módot nyújt a tárolók vízszintesen történő középre helyezésére. Ehhez csak annyit kell tenni, hogy értéknek az
                <CODE>auto</CODE>-t adjuk meg:<BR>
                <CODE>margin: auto;</CODE><BR>

                <DIV style='background: red; width: 250px;'>
                    Tároló
                    <DIV style='background: green; width: 150px; margin: auto;'>Doboz margóval</DIV>
                    <DIV style='background: orange; margin: 0;'>Margó nélküli doboz</DIV>
                </DIV>
            </DIV>

            <DIV><U>Megjegyzés:</U> A felső és alsó margók a középre helyezéstől függetlenül állíthatóak a <CODE>margin-top</CODE> és
                <CODE>margin-bottom</CODE> tulajdonságokkal.
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Belső margó</H2>

            <DIV>
                A szegély (ha van - ha nincs, akkor a tároló széle) és a tartalom közötti területet nevezik belső margónak. Ezt a távolságot a
                <CODE>padding</CODE> tulajdonsággal lehet állítani.<BR>
                Működése nagyjából megegyezik a
                <CODE>maring</CODE>éval (nincs auto érték). Meg lehet adni egyforma értéket minden oldalra (<CODE>padding: 20px;</CODE>), oldalanként különböző értéket (<CODE>padding: 20px 30px 40px 50px;</CODE>) és lehetőség van csak bizonyos oldalakat megadni (<CODE>padding-top: 25px;</CODE>, stb).
                <DIV>

                    <DIV>
                        Példa:
                        <CODE>padding: 20px 30px 40px 50px; border: 3px solid red;</CODE>
                        <DIV style='display: inline-block; padding: 20px 30px 40px 50px; border: 3px solid red;'>Tartalom</DIV>
                    </DIV>
                </DIV>
            </DIV>
        </ARTICLE>
    </MAIN>

    <FOOTER>
        <BUTTON onclick="window.location.href = '/web/training/css/007_scaling'">Előző</BUTTON>
        <BUTTON onclick="window.location.href = '/web/modules'">Kezdőlap</BUTTON>
        <BUTTON onclick="window.location.href = '/web/training/css/009_box_model'">Következő</BUTTON>
    </FOOTER>
</DIV>
</BODY>
</HTML>