<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <META charset="UTF-8">

    <LINK rel="stylesheet" href="/res/common/css/reset.css">
    <LINK rel="stylesheet" href="/res/common/css/common.css">
    <LINK rel="stylesheet" href="/res/training/css/training_common.css">

    <SCRIPT src="/res/common/js/jquery.js"></SCRIPT>
    <SCRIPT src="/res/common/js/common_base.js"></SCRIPT>
    <SCRIPT>pageLoader.runLoaders()</SCRIPT>

    <TITLE>Box model - CSS - Oktatás - Apphub</TITLE>
</HEAD>
<BODY>
<DIV id="main" class="main-page">
    <HEADER>
        <H1 id="main-title">CSS - Box model</H1>
    </HEADER>

    <NAV th:replace="/menu/css.html :: menu"></NAV>

    <MAIN>
        <ARTICLE>
            <H2>Mi az a box (doboz) model?</H2>

            <DIV>
                A HTML-ben a tageket, tárolókat legegyszerűbb egy dobozként elképzelni. Ezeknek a dobozoknak van tartalma, és ahogy arról a korábbi fejezetekben szó volt, lehet külső/belső margója, szegélye, és meg lehet adni a szélességét / magasságát.
                Ez viszont felvet egy problémát, amit a következő példa szemléltet:<BR>
            </DIV>

            <DIV>
                Képzeljük el, hogy van egy 250 pixel széles tárolónk, amit szeretnénk tartalommal feltölteni. Ezért bele rakunk egy 250 pixel széles dobozt, amibe a tartalmat rakjuk:

                <PRE th:replace="/example/css/box_model.html :: original_example"></PRE>
                <DIV style='width: 250px; height: 250px; border: 3px solid red; background: yellow; box-sizing: content-box;'>
                    <DIV style='width: 250px; height: 100px; background: green; margin: 0; box-sizing: content-box;'>
                        Tartalom
                    </DIV>
                </DIV>

                Eddig semmi kirívót nem látunk, igaz? Akkor most adjunk egy kis paddingot, és szegélyt a tartalom dobozához! (A belső <CODE>&lt;div></CODE>-hez)
                <PRE th:replace="/example/css/box_model.html :: with_padding_and_border"></PRE>

                <DIV style='width: 250px; height: 250px; border: 3px solid red; background: yellow; box-sizing: content-box;'>
                    <DIV style='width: 250px; height: 100px; background: green; margin: 0; padding: 30px; border: 20px solid black; box-sizing: content-box;'>
                        Tartalom
                    </DIV>
                </DIV>

                És a szemünk szúrja, ki, hogy a 250 pixel széles dobozba hogyan nem fér bele egy másik doboz, aminek a szélességét szintén 250 pixelre állítottuk?
            </DIV>

            <DIV>
                A megoldást a következő ábra mutatja:

                <IMG src='/res/training/img/css/box_model.png'>

                A belső
                <CODE>&lt;div></CODE> szélességének megadásával a tartalom (content) szélességét határoztuk meg. Az abszólút szélességhez ezen felül hozzá adódik a padding és a szegély szélessége.<BR>
                Ennek tudatában könnyű kiszámolni, hogy 250px + 2 x 30px + 2 x 20px = 350px, ami jóval nagyobb, mint a külső tárolónak megadott 250 px szélesség.<BR>

                Ha pedig margót is adtunk volna meg, akkor az még tovább növelné az abszolút szélességet.
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Doboz méretezés</H2>

            <DIV>
                A fentiek alapján kiderült, hogy ha egy tárolónak szélességet adunk meg, azzal valójában a tartalom szélességét állítjuk be, ehhez hozzá adódik a padding és a szegély.<BR>
                Viszont minden esetben, ha bele kell férni egy dobozba, álljunk neki számolgatni a paddingokat is? Informatikusok vagyunk, nem matematikusok! Ezért van lehetőség megváltoztatni a méretezés tulajdonságait a következő módon:<BR>
            </DIV>

            <DIV>
                Ha az előbbi példát kiegészítjük a <CODE>box-sizing: border-box</CODE> tulajdonsággal, megváltozik a működés is:

                <PRE th:replace="/example/css/box_model.html :: border_box"></PRE>
                <DIV>
                    <DIV style='display: inline-block; width: 250px; height: 250px; border: 3px solid red; background: yellow; box-sizing: content-box;'>
                        <DIV style='width: 250px; height: 100px; background: green; margin: 0; padding: 30px; border: 20px solid black; box-sizing: border-box;'>
                            Tartalom
                        </DIV>
                    </DIV>
                </DIV>

                Mint látható, e tulajdonság megadásával máris bele fértünk a tárolóba, viszont a content terület kisebb lett. Ennek az az oka, hogy a
                <CODE>box-sizing: border-box</CODE> tulajdonság hatására a szélesség megadás magába foglalja a padding és szegély szélességét is. Ezért viszont a tartalom számára fenntartott terület csökken.<BR>
                250px - 2 x 30px - 2 x 20px = 150px szélességű terület marad a tartalomnak.
            </DIV>

            <DIV>
                A <CODE>box-sizing</CODE> tulajdonság lehetséges értékei:

                <UL>
                    <LI><CODE>content-box</CODE>: (alapértelmezett) a megadott szélesség / magasság a tartalom méretét határozza meg, a padding és szegély nélkül.</LI>
                    <LI><CODE>border-box</CODE>: a megadott szélesség / magasság a tartalom, a padding és a szegély összesített méretét határozza meg.</LI>
                </UL>

                <IMG src='/res/training/img/css/box_model_extended.png'>
            </DIV>
        </ARTICLE>
    </MAIN>

    <FOOTER>
        <BUTTON id="previous" onclick="window.location.href = '/web/training/css/008_margins'">Előző</BUTTON>
        <BUTTON id="home" onclick="window.location.href = '/web/modules'">Kezdőlap</BUTTON>
        <BUTTON id="next" onclick="window.location.href = '/web/training/css/010_text_style'">Következő</BUTTON>
    </FOOTER>
</DIV>
</BODY>
</HTML>