<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD>
    <META charset="UTF-8">

    <LINK rel="stylesheet" href="/res/common/css/reset.css">
    <LINK rel="stylesheet" href="/res/common/css/common.css">
    <LINK rel="stylesheet" href="/res/training/css/training_common.css">

    <SCRIPT src="/res/common/js/jquery.js"></SCRIPT>
    <SCRIPT src="/res/common/js/common_base.js"></SCRIPT>
    <SCRIPT>eventProcessor.processEvent(new Event(events.LOCALIZATION_LOADED));</SCRIPT>

    <TITLE>Tartalom manipuláció - CSS - Oktatás - Apphub</TITLE>

    <STYLE>
        .example_first_line::first-line{
            color: blue;
        }

        .example_first_letter::first-letter{
            font-size: 2em;
        }

        .example_selection::selection{
            color: red;
            background: yellow;
        }

        .example_before span::before{
            content: "Ez a(z) ";
        }
    </STYLE>
</HEAD>
<BODY>
<DIV id="main" class="main-page">
    <HEADER>
        <H1 id="main-title">CSS - Tartalom manipuláció</H1>
    </HEADER>

    <NAV th:replace="/menu/css.html :: menu"></NAV>

    <MAIN>
        <ARTICLE>
            <H2>Szöveg első sorának kiválasztása</H2>

            <DIV>A <CODE>::first-line</CODE> kiválasztóval a folyó szöveg első sorát lehet kiválasztani:</DIV>

            <DIV class="example_first_line" style="width: 250px; border: 3px solid red;">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Első karakter kiválasztása</H2>

            <DIV>A <CODE>::first-letter</CODE> kiválasztó a fentihez hasonlóan működik, csak a sor helyett a legelső betűt választja ki.</DIV>

            <DIV class="example_first_letter" style="width: 250px; height: 150px; border: 3px solid red;">
                Én vagyok a szöveg
            </DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>A felhasználó kijelölésének kiválasztása</H2>

            <DIV>A CSS a <CODE>::selection</CODE> kiválasztóval lehetőséget biztosít a felhasználó által kijelölt tartalom stílusának módosítására:</DIV>

            <DIV class="example_selection" style="width: 250px; height: 250px; border: 3px solid red;">
                Jelölj ki! Jelölj ki! Jelölj ki! Jelölj ki! Jelölj ki! Jelölj ki! Jelölj ki! Jelölj ki! Jelölj ki! Jelölj ki! Jelölj ki! Jelölj ki! Jelölj ki! Jelölj ki!
            </DIV>

            <DIV>A példában látszik, hogy a kijelölés színe a szokásos kék-fehér helyett a tárolóban sárga-piros.</DIV>
        </ARTICLE>

        <ARTICLE>
            <H2>Extra tartalom beszúrása</H2>

            <DIV>A CSS arra is jó, hogy bizonyos elemek elé / mögé extra szöveget szúrjunk be. Ezt a <CODE>::before</CODE> és <CODE>::after</CODE> kiválasztókkal lehet megtenni, a következőképp:</DIV>
            <DIV>
                <PRE th:replace="/example/css/content_manipulation.html :: before"></PRE>

                <DIV class="example_before" style="width: 250px; height: 250px; border: 3px solid red;">
                    <SPAN>Első span</SPAN><BR>
                    <SPAN>Második span</SPAN><BR>
                    <SPAN>Harmadik span</SPAN><BR>
                </DIV>
            </DIV>
        </ARTICLE>
    </MAIN>

    <FOOTER>
        <BUTTON id="previous" onclick="window.location.href = '/web/training/css/018_content_selectors'">Előző</BUTTON>
        <BUTTON id="home" onclick="window.location.href = '/web/modules'">Kezdőlap</BUTTON>
        <BUTTON id="next" onclick="window.location.href = '/web/training/css/020_attribute_selectors'">Következő</BUTTON>
    </FOOTER>
</DIV>
</BODY>
</HTML>