#create-custom-table-parent-selection-wrapper{
    background: var(--background-color);
    position: absolute;
    top: var(--create-item-input-height);
    left: 10%;
    right: 10%;
    z-index: 1;
    border: 3px ridge white;
    border-top: none;
}

    #create-custom-table-selected-category-wrapper{
        text-align: center;
        font-size: 1.5rem;
        padding: 0.25rem;
    }

    #create-custom-table-parent-selection-list-wrapper{
        display: none;
    }

        #create-custom-table-parent-selection-wrapper:hover #create-custom-table-parent-selection-list-wrapper{
            display: block;
        }

    #new-custom-table-content-wrapper{
        position: absolute;
        top: 5.5rem;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        overflow: auto;
    }

        #new-custom-table-content-table{
            margin: 1rem auto;
        }

            #new-custom-table-content{
                text-align: center;
            }

                #new-custom-table-content input[type=checkbox]{
                    transform: scale(2);
                }

                #new-custom-table-content .table-content-column{
                    position: relative;
                }

                    .table-column-content-wrapper{
                        margin-right: 1.75rem;
                    }

                        #new-custom-table-content label{
                            display: block;
                            white-space: nowrap;
                        }

                    .modify-column-type-button{
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                    .custom-table-image-preview{
                        max-width: 100%;
                        max-height: 50vh;
                        border: 2px ridge white;
                        display: block;
                    }

.column-type-label{
    border: 2px ridge white;
    border-radius: 5px;
    display: inline-block;
    margin: 0.25rem;
    padding: 0.25rem;
}