#create-category-parent-selection-wrapper{

}

    #create-category-current-category-title{
        text-align: center;
        font-size: 1.75rem;
        border: 2px solid white;
        border-top: none;
        padding: 0.25rem;
    }

    #create-category-parent-selection-parent-button{
        margin: 0.5rem auto;
        width: 80%
    }

    #create-category-parent-selection-category-list{
        position: absolute;
        top: 5.5rem;
        left: 0;
        bottom: 0;
        right: 0;
        overflow-y: auto;
    }