#create-image-parent-selection-wrapper{
    background: var(--background-color);
    position: absolute;
    top: var(--create-item-input-height);
    left: 10%;
    right: 10%;
    z-index: 1;
    border: 3px ridge white;
    border-top: none;
}

    #create-image-selected-category-wrapper{
        text-align: center;
        font-size: 1.5rem;
        padding: 0.25rem;
    }

    #create-image-parent-selection-list-wrapper{
        display: none;
    }

        #create-image-parent-selection-wrapper:hover #create-image-parent-selection-list-wrapper{
            display: block;
        }

#new-image-content-wrapper{
    position: absolute;
    top: 5.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

    #new-image-input-wrapper{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2.5rem;
    }

    #new-image-preview-wrapper{
        position: absolute;
        top: 2.5rem;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1rem;
    }

        #new-image-preview{
            max-width: 100%;
            max-height: 100%;
            border: 2px ridge white;
        }