#settings-container{
    background: var(--background-color);
    border: 3px ridge white;
    display: none;
    position: relative;
    z-index: 1;
    margin: 0 2rem;
    padding: 0.5rem 1rem;
    border-top: none;
    border-radius: 0 0 5px 5px;
}