#view-file-content{
    padding: 1rem;
}

    #view-file-content-table{
        margin: auto;
    }

        #view-file-content-table td:first-child{
            text-align: right;
            font-weight: bold;
        }